<!DOCTYPE html>
<html lang='en'>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="HandheldFriendly" content="true" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta charset="utf-8">  
        <link rel="icon" type="image/png" href="http://media.empire.life/site/images/favicon.png">
        <title>Empire</title>
        <meta name="description" content="A community-centric experience built to empower you. Inspire a vision. Rise to the challenge. Reign." />
        <meta name="keywords" content="Empire, minority, empowerment, women, minority women, woman, black, black women, career, entertainment, media, magazine" />
        <meta name="author" content="ThreePillarMedia, LLC" />

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='plugins/pushmenu/js/modernizr.custom.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jPushMenu.js') }}"></script>
        <script src="{{ url_for('static', filename='js/fblogin.js') }}"></script>
        <script src="{{ url_for('static', filename='js/gpluslogin.js') }}"></script>
        <script src="{{ url_for('static', filename='js/empirelogin.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icomoon/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/pushmenu/css/component.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/pushmenu.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/rwd.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/login.css') }}" />
        
        <!--For login modal -->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '345241442325838',
              xfbml      : true,
              version    : 'v2.1'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        <script type="text/javascript">
            (function() {
               var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
               po.src = 'https://apis.google.com/js/client.js?onload=onLoadCallback';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
    </head>

    <body id="welcome">
        <div id="main">
            <div hidden>
                <svg width="64" height="64" viewBox="0 0 64 64">
                    <path id="arrow-left-3" d="M44.797 17.28l0.003 29.44-25.6-14.72z" />
                </svg>
                <svg width="64" height="64" viewBox="0 0 64 64">
                    <path id="arrow-right-3" d="M19.203 17.28l-0.003 29.44 25.6-14.72z" />
                </svg>
            </div>

            <div class="container">
                <div id="splitlayout">
                    <div id="mainlogin">
                        <div style="float:right;">
                            {% if loggedin %}
                                <p id ="mainusername" style="margin-top:10px;">
                                    Welcome <span style='color:#e64c65'>{{ username }}<span>
                                </p>
                                <a class="btn logout_btn" href="{{ url_for('logout') }}">Logout</a>
                            {% else %}
                                <p id ="mainusername2" style="margin-top:10px;" hidden> Welcome </p>
                                <p id="mainloginbtn" onclick="jQuery('#login').modal('show');" class='btn' value='Login' style="margin:10px 2px 0px 0px;">Login</p>
                                <p id="mainregisterbtn" onclick="jQuery('#register').modal('show');" class='btn' value='Register' style="margin:10px 0px 0px 2px;">Register</p>
                            {% endif %}
                        </div>
                    </div>
                    <div id="logo">
                        <img src="http://media.empire.life/site/images/logo-blk.png" alt="Empire logo" width="320" />
                        <p class="beta" data-toggle="tooltip" data-placement="right" title="PSSST! Click Me!" style="cursor:pointer;" onclick="$('#beta').modal('show');">Beta!</p>
                    </div>
                    
                    <div class="side side-left text-center" style="overflow-y:hidden;">
                        <div class="intro-content">
                            <h1 class="title">
                                <span class="animated fadeInUp">Choose a topic</span>
                            </h1>
                        </div>
                        
                        <div id="categories" class="text-center" hidden>
                            <p id="close_cat" class="pull-right" style="cursor: pointer; padding:17px; font-size: 2em;"><span class="icon icon-cross"></span></p>

                            <h1>What are you in the mood for?</h1> 

                            <ul>
                                <li class="category" style="background:url(http://media.empire.life/site/categories/politics.jpg) no-repeat; background-size: cover;background-position-y: -68px;">
                                    <a href="{{ url_for('dashboard.news') }}"><p>Current Events</p></a>
                                </li>
                                
                                
                                <li class="category" style="background:url(http://media.empire.life/site/categories/tech.png) no-repeat; background-size: cover;background-position-y: -27px;">
                                    <a href="{{ url_for('dashboard.tech') }}"><p>Technology</p></a>
                                </li>
                                
                                
                                <li class="category" style="background:url(http://media.empire.life/site/categories/money2.png) no-repeat; background-size: cover;background-position-y: -64px;">
                                    <a href="{{ url_for('dashboard.money') }}"><p>Money</p></a>
                                </li>
                                
                                
                                <li class="category" style="background:url(http://media.empire.life/site/categories/work.jpg) no-repeat; background-size: cover;background-position-y: -99px;">
	                                <a href="{{ url_for('dashboard.career') }}"><p>Career</p></a>
	                            </li>
                                
                                <!-- <a href="">
                                    <li class="category" style="background:url(../static/images/1.jpg) no-repeat; background-size: cover;background-position-y: -112px;">
                                        <p>Body + Beauty</p>
                                    </li>
                                </a>
                                <a href="">
                                    <li class="category" style="background:url(../static/images/5.jpg) no-repeat; background-size: cover;background-position-y: -112px;">
                                        <p>Relationships</p>
                                    </li>
                                </a> -->
                                
                                <li class="category" style="background:url(http://media.empire.life/site/categories/mind.jpg) no-repeat; background-size: cover;background-position-y: -55px;">
	                                <a href="{{ url_for('dashboard.mindbody') }}"><p>Mind, Body, and Spirit</p></a>
	                            </li>
                                
                                <!-- <a href="">
                                    <li class="category" style="background:url(http://media.empire.life/site/categories/sports2.png) no-repeat; background-size: cover;background-position-y: -80px;">
                                        <p>Sports</p>
                                    </li>
                                </a> -->
                                
                                <li class="category" style="background:url(http://media.empire.life/site/categories/ent.png) no-repeat; background-size: cover;background-position-y: -41px;">
                                	<a href="{{ url_for('dashboard.culture') }}"><p>Culture + Entertainment</p></a>
                                </li>
                                
                                <!-- <a href="">
                                    <li class="category" style="background:url(http://media.empire.life/site/categories/music.png) no-repeat; background-size: cover;background-position-y: -90px;">
                                        <p>TV + Music</p>
                                    </li>
                                </a> -->
                                
                                <li class="category" style="background:url(http://media.empire.life/site/categories/calm.jpg) no-repeat; background-size: cover;background-position-y: -68px;">
                                    <a href="{{ url_for('dashboard.wildcard') }}"><p>Wildcard</p></a>
                                </li>
                            
                            </ul>
                        </div>
                    </div>
                    
                    <div class="side side-right" style="background: url(http://media.empire.life/site/categories/mindy.png) no-repeat center;background-size:cover;background-position-x:0px;">
                        <a id="current_cycle" href="{{ url_for('dashboard.cycle') }}">
                            <!-- <img src="" alt="Cycle #1 Front Page image featuring Mindy Kaling" /> -->

                            <div class="intro-content">
                                <p>Cycle #1</p>
                                <h1><span class="animated fadeInUp">This Is Empire</span></h1>
                            </div>

                            <nav class="nav-multithumb">
                                <span class="icon-wrap"><svg class="icon" width="32" height="32" viewBox="0 0 64 64"><use xlink:href="#arrow-right-3"></svg></span>
                                <div></div>
                            </nav>
                        </a>
                    </div>

                    <footer>
                        <nav class="nav-footer" style="left: 0;">
                            <ul>
                                <li>© 2015 ThreePillarMedia, LLC</li>
                                <li><a href="{{ url_for('home.about') }}">About</a></li>
                                <!-- <li><a href="">Archives</a></li> -->
                                <li><a href="{{ url_for('home.contact') }}">Contact</a></li>
                                <li><a href="{{ url_for('home.terms') }}">Terms</a></li>
                                <li><a href="{{ url_for('home.privacy') }}">Privacy</a></li>
                                <!-- <li id="social">Social Media</li> -->
                            </ul>
                        </nav>
                    </footer>
                </div>

                <!-- <a href="#special" id="toggle_special"><span class="icon-arrow-down"></span></a> -->
            </div>
        </div>

        <div id="mobile_main" hidden>
            <div class="svg-wrap" hidden>
                <svg width="64" height="64" viewBox="0 0 64 64">
                    <path id="arrow-left-1" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z" />
                </svg>
                <svg width="64" height="64" viewBox="0 0 64 64">
                    <path id="arrow-right-1" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z" />
                </svg>
            </div>

            <p id="menu-btn" class="pull-right toggle-menu menu-right"><span class="icon-nav icon-menu"></span></p>
            
            <nav class="articles_page cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
                <h3>
                    <span class="icon icon-cross" id="close-btn" style="float: left;color: darkgray;cursor: pointer;line-height: 1.1;"></span>
                    <!-- <span style="float:right;">Empire</span> -->
                </h3>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('dashboard.cycle') }}">Current Cycle</a>
                <a style="border-bottom:none;">Categories</a>
                <ul id="cat_list">
                    <li><a class="media-body block m-b-none"href="{{ url_for('dashboard.news') }}">Current Events</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.tech') }}">Technology</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.money') }}">Money</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.career') }}">Career</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.mindbody') }}">Mind, Body, and Spirit</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.culture') }}">Culture + Entertainment</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.wildcard') }}">Wildcard</a></li>
                </ul>
                <a href="{{ url_for('home.about') }}">About</a>
                <a href="{{ url_for('home.terms') }}">Terms and Privacy</a>
                <a href="{{ url_for('home.contact') }}">Contact Us</a>
            </nav>

            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" style="width: 75%;">
                <h3>
                    <span class="icon icon-cross" id="closeLeft" style="float: right;color: darkgray;cursor: pointer;"></span>
                    <span style="float:right;font-size: 0.7em;">What are you in the mood for?</span>
                    <p class="clearfix"></p>
                </h3>

                <a href="{{ url_for('dashboard.news') }}" class="category" style="background:url(http://media.empire.life/site/categories/politics.jpg) no-repeat; background-size: cover;background-position-y: -10px;">Current Events</a>
                
                
                <a href="{{ url_for('dashboard.tech') }}" class="category" style="background:url(http://media.empire.life/site/categories/tech.png) no-repeat; background-size: cover;">Technology</a>
                
                
                <a href="{{ url_for('dashboard.money') }}" class="category" style="background:url(http://media.empire.life/site/categories/money2.png) no-repeat; background-size: cover;">Money</a>
            
                
                <a href="{{ url_for('dashboard.career') }}" class="category" style="background:url(http://media.empire.life/site/categories/work.jpg) no-repeat; background-size: cover;">Career</a>
                
                <!-- <a href="">
                    <li class="category" style="background:url(../static/images/1.jpg) no-repeat; background-size: cover;background-position-y: -112px;">
                        <p>Body + Beauty</p>
                    </li>
                </a>
                <a href="">
                    <li class="category" style="background:url(../static/images/5.jpg) no-repeat; background-size: cover;background-position-y: -112px;">
                        <p>Relationships</p>
                    </li>
                </a> -->
                
                <a href="{{ url_for('dashboard.mindbody') }}" class="category" style="background:url(http://media.empire.life/site/categories/mind.jpg) no-repeat; background-size: cover;">Mind, Body, and Spirit</a>
                
                <!-- <a href="">
                    <li class="category" style="background:url(http://media.empire.life/site/categories/sports2.png) no-repeat; background-size: cover;background-position-y: -80px;">
                        <p>Sports</p>
                    </li>
                </a> -->
                
                <a href="{{ url_for('dashboard.culture') }}" class="category" style="background:url(http://media.empire.life/site/categories/ent.png) no-repeat; background-size: cover;">Culture + Entertainment</a>

                <!-- <a href="">
                    <li class="category" style="background:url(http://media.empire.life/site/categories/music.png) no-repeat; background-size: cover;background-position-y: -90px;">
                        <p>TV + Music</p>
                    </li>
                </a> -->
                
                <a href="{{ url_for('dashboard.wildcard') }}" class="category" style="background:url(http://media.empire.life/site/categories/calm.jpg) no-repeat; background-size: cover;">Wildcard</a>
            </nav>

            <header class="animated fadeInDown">
                <img src="http://media.empire.life/site/images/logo-blk.png" alt="Empire logo"/>
                <p class="beta" data-toggle="tooltip" data-placement="left" title="PSSST! Click Me!" style="cursor:pointer;" onclick="$('#info').modal('show');">Beta!</p>
            </header>

            <div class="clearfix"></div>

            <div id="buttons">
                <div class="btn-round animated fadeInLeft">
                    <a href="{{ url_for('dashboard.cycle') }}">Current Cycle <span class="pull-right"><svg class="icon" width="24" height="24" viewBox="0 0 64 64"><use xlink:href="#arrow-right-1"></svg></span></a>
                </div>
                <div class="btn-round animated fadeInRight">
                    <p id="topicsTogg" class="toggle-menu menu-left">Topics <span class="pull-left"><svg class="icon" width="24" height="24" viewBox="0 0 64 64"><use xlink:href="#arrow-left-1"></svg></span></p>
                </div>
            </div>
        </div>

        <!-- <div class="modal fade" id="beta">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        <h4 class="modal-title" style="font-size: 1.3em;padding: 10px 0;">We're finally here!</h4>
                    
                        <p class="padder-v">Welcome to Empire. During these next couple of weeks, we would like to collect feedback from <strong>YOU</strong> to help us build the best version of Empire, a site that <strong>YOU</strong> would want to come back to every day.</p>

                        <p class="padder-v">Browse the topics on your left or experience an Empire cycle on your right. Don't forget to let us know what you think of this beta release! Your feedback will be invaluable to us when we release the full-site and content.</p> 

                        <p class="padder-v">Feel free to use the <a href="{{ url_for('home.contact') }}" style="color:#d20150 !important;">contact form</a> or reach out to us on social media.</p>

                        <p style="text-align:left;">Stay Blessed,</p>
                        <p style="text-align: left;font-style: italic;">- Team Empire</p>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="modal fade" id="login">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center" style="height:270px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        <!-- <h4 class="modal-title" style="font-size: 1.3em;padding: 10px 0;">We're finally here!</h4> -->
                    
                        <div class="pull-left">
                            <img src="http://media.empire.life/site/images/logo-blk.png" alt="Empire logo" width="75" style="margin-top:0px;"/>
                            <div id="login_error" class="alert error" style="margin: 5px 0px 0px;" hidden>
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <p id="message"></p>
                            </div>

                            <div id="reg_error" class="alert error" style="margin: 5px 0px 0px;" hidden>
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <p id="message"></p>
                            </div>

                            <div id="reg_success" class="alert success" style="margin: 5px 0px 0px;" hidden>
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <p id="message"></p>
                            </div>

                            <div id="forgot_error" class="alert" style="margin: 5px 0px 0px;" hidden>
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <p id="message"></p>
                            </div>
                            <form class="pure-form pure-form-stacked" id="main_login_form">
                                <fieldset>
                                    <input id="username" type="text" placeholder="Username" style="margin:15px;">
                                    <input id="password" type="password" placeholder="Password" style="margin:15px;">
                                    <label for="remember">
                                        <input id="remember" type="checkbox"> Remember me
                                    </label>

                                    <p onclick="empirelogin();" class="btn">Sign In</p>
                                </fieldset>
                            </form>
                        </div>

                        <div id="login_info" class="pull-right">
                            <p style="margin:10px 0px;">As a member of Empire online you can enjoy the following benefits:</p>
                            <ul>
                                <li>Comment on articles</li>
                                <li>Start discussions</li>
                                <li>Write your own articles</li>
                            </ul>
                            <p style="margin:20px 0px; 10px;">Don't have an account?</p>
                            <p onclick="jQuery('#login').modal('hide');jQuery('#register').modal('show');" class='btn' value='Register' style="margin:10px 0px 0px 2px;">Register with Empire</p>
                        </div>
                    </div>
                    <div id="login_footer">
                            <p class="content">SIGN IN WITH
                                <a href="#" onclick="fb_login();"><span style="margin-left: 40px;" class="icon icon-facebook2 loginicon"></span></a>
                                <a href="#" onclick="gpluslogin();"><span class="icon icon-googleplus2 loginicon"></span></a>
                                <a href="#" onclick="twitterlogin();"><span class="icon icon-twitter2 loginicon"></span></a>
                            </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="register">
            <div class="modal-dialog">
                <div class="modal-content" style="height: 400px;">
                    <div class="modal-body text-center" style="height:300px; text-align:center;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3>Register an Empire Account</h3>
                        <form class="pure-form pure-form-stacked" id="main_register_form">
                            <fieldset>
                                <input type="text" class="form-input" placeholder="Username" help-text="us_help" id="username" name="username">
                                <p class="help-block" id="us_help"><small>Must be at least 4 characters long and contain no spaces</small></p>
                                
                                <input type="email" class="form-input" placeholder="Email Address" id="email" name="email">

                                <input type="password" class="form-input" placeholder="Password" help-text="pw_help" id="password" name="password">
                                <!-- <p class="help-block" id="pw_help"><small>Must be at least 6 characters long and contain both numbers and letters</small></p> -->

                                <input type="password" class="form-input" placeholder="Confirm Password" id="confirm" name="confirm">

                                <div id="tt_pw" class="tooltip2 fade right" style="top: 158px; right: -126px;" hidden>
                                    <div class="tooltip2-arrow"></div>
                                    <div class="tooltip2-inner">Passwords must match</div>
                                </div>
                                <div id="tt_pw2" class="tooltip2 fade right" style="top: 119px; right: -202px;" hidden>
                                    <div class="tooltip2-arrow"></div>
                                    <div class="tooltip2-inner"></div>
                                </div>
                                <div id="tt_em1" class="tooltip2 fade right" style="top: 71px; right: -174px;" hidden>
                                    <div class="tooltip2-arrow"></div>
                                    <div class="tooltip2-inner">This email address is already in use</div>
                                </div>
                                <div id="tt_em2" class="tooltip2 fade right" style="top: 71px; right: -177px;" hidden>
                                    <div class="tooltip2-arrow"></div>
                                    <div class="tooltip2-inner">Please enter a valid email address</div>
                                </div>
                                <div id="tt_us" class="tooltip2 fade right" style="top: 16px; right: -154px;" hidden>
                                    <div class="tooltip2-arrow"></div>
                                    <div class="tooltip2-inner">This username already exists</div>
                                </div>
                                <p onclick="empireregister();" class="btn">Sign Up</p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- <section id="special">
            <h1>Special thanks to the following places for information and their help!</h1>
        </section> -->
    </body>

    <script>
        jQuery(document).ready(function($) {
            $('.toggle-menu').jPushMenu();
            // $('.beta').tooltip();
            // setTimeout("jQuery('.beta').tooltip('show');", 1000);
            //setTimeout("jQuery('#login').modal('show');", 800);
        });
    </script>
</html>