/* Smartphones (portrait and landscape) ----------- 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
}*/
/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width: 321px) and (max-device-width: 640px) and (orientation: landscape) {
  /* line 14, ../sass/rwd.scss */
  #content #right_menu,
  #content .cbp-spmenu {
    display: none;
  }
  /* line 19, ../sass/rwd.scss */
  #content #center_menu {
    line-height: 1;
    padding: 20px 0;
  }
  /* line 23, ../sass/rwd.scss */
  #content #center_menu li {
    font-size: 0.9em;
  }

  /* line 29, ../sass/rwd.scss */
  #grid {
    margin: 0px 30px;
  }
  /* line 32, ../sass/rwd.scss */
  #grid figure {
    width: 220px;
    margin: 10px;
    height: 120px !important;
  }
  /* line 37, ../sass/rwd.scss */
  #grid figure p {
    font-size: 80% !important;
  }

  /* line 43, ../sass/rwd.scss */
  figure.effect-zoe figcaption,
  figure.effect-zoe h2,
  figure.effect-zoe p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }

  /* line 50, ../sass/rwd.scss */
  figure.effect-zoe figcaption {
    background: rgba(255, 255, 255, 0.27) !important;
    color: #FFFFFF !important;
  }

  /* line 56, ../sass/rwd.scss */
  #contact_form h1 {
    left: 32%;
  }

  /* line 66, ../sass/rwd.scss */
  #regular_article .header-img {
    width: 80%;
    height: 100px;
    margin: 2% auto !important;
    background-size: contain !important;
  }
  /* line 73, ../sass/rwd.scss */
  #regular_article .regular > h1 {
    font-size: 1.25em !important;
  }
  /* line 77, ../sass/rwd.scss */
  #regular_article .content > div:not(.title) p {
    font-size: 1.35em !important;
  }
  /* line 81, ../sass/rwd.scss */
  #regular_article .smilie {
    font-size: 3em !important;
    padding: 0 3px !important;
  }
  /* line 86, ../sass/rwd.scss */
  #regular_article #list_stuff {
    margin-left: 0 !important;
  }
  /* line 90, ../sass/rwd.scss */
  #regular_article #cbp-spmenu-s2 {
    display: none;
  }
  /* line 94, ../sass/rwd.scss */
  #regular_article img.fr-fin.fr-tag {
    width: 275px;
  }
  /* line 98, ../sass/rwd.scss */
  #regular_article .f-video-editor .fr-fvn {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  /* line 104, ../sass/rwd.scss */
  #regular_article .f-video-editor .fr-fvn iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-device-width: 641px) and (max-device-width: 736px) and (orientation: landscape) {
  /* line 121, ../sass/rwd.scss */
  .about_page .hero {
    padding: 0;
  }
  /* line 124, ../sass/rwd.scss */
  .about_page .hero .inner {
    margin-top: 0;
  }
  /* line 129, ../sass/rwd.scss */
  .about_page #menu-btn {
    display: none;
  }
  /* line 133, ../sass/rwd.scss */
  .about_page #min_btn {
    display: block;
  }

  /* line 139, ../sass/rwd.scss */
  #welcome #logo {
    left: 32%;
  }
  /* line 142, ../sass/rwd.scss */
  #welcome #logo img {
    width: 200px !important;
  }
  /* line 146, ../sass/rwd.scss */
  #welcome #logo .beta {
    font-size: 1.4em;
    width: 75px;
    letter-spacing: 2.5px;
  }
  /* line 153, ../sass/rwd.scss */
  #welcome .nav-footer ul li {
    margin: 0 3px;
  }
  /* line 157, ../sass/rwd.scss */
  #welcome .side-left #categories ul li {
    height: 55px;
    font-weight: 700;
    margin: 9px 0;
    opacity: 0.7;
    padding: 0.6em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
    background-position: 0 !important;
  }
  /* line 166, ../sass/rwd.scss */
  #welcome .side-left #categories ul li p {
    color: white !important;
    font-size: 1.4em;
    text-align: right;
  }

  /* line 176, ../sass/rwd.scss */
  #content #right_menu,
  #content .cbp-spmenu {
    display: none;
  }
  /* line 181, ../sass/rwd.scss */
  #content #center_menu {
    line-height: 1;
    padding: 20px 0;
  }
  /* line 185, ../sass/rwd.scss */
  #content #center_menu li {
    font-size: 0.9em;
  }

  /* line 191, ../sass/rwd.scss */
  #grid {
    margin: 0px 30px;
  }
  /* line 194, ../sass/rwd.scss */
  #grid figure {
    width: 270px;
    margin: 10px;
    height: 170px !important;
  }
  /* line 200, ../sass/rwd.scss */
  #grid figure.effect-zoe figcaption,
  #grid figure.effect-zoe h2,
  #grid figure.effect-zoe p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
  /* line 207, ../sass/rwd.scss */
  #grid figure.effect-zoe figcaption {
    background: rgba(255, 255, 255, 0.27) !important;
    color: #FFFFFF !important;
  }
  /* line 213, ../sass/rwd.scss */
  #grid figure p {
    font-size: 90% !important;
  }

  /* line 220, ../sass/rwd.scss */
  #contact_form h1 {
    left: 32%;
  }

  /* line 230, ../sass/rwd.scss */
  #regular_article .header-img {
    width: 80%;
    height: 100px;
    margin: 2% auto !important;
    background-size: contain !important;
  }
  /* line 237, ../sass/rwd.scss */
  #regular_article .regular > h1 {
    font-size: 1.25em !important;
  }
  /* line 241, ../sass/rwd.scss */
  #regular_article .content > div:not(.title) p {
    font-size: 1.35em !important;
  }
  /* line 245, ../sass/rwd.scss */
  #regular_article .smilie {
    font-size: 3em !important;
    padding: 0 3px !important;
  }
  /* line 250, ../sass/rwd.scss */
  #regular_article #list_stuff {
    margin-left: 0 !important;
  }
  /* line 254, ../sass/rwd.scss */
  #regular_article #cbp-spmenu-s2 {
    display: none;
  }
  /* line 273, ../sass/rwd.scss */
  #regular_article img.fr-fin.fr-tag {
    width: 275px;
  }
  /* line 277, ../sass/rwd.scss */
  #regular_article img.fr-tag.fr-fir {
    float: none !important;
  }
  /* line 281, ../sass/rwd.scss */
  #regular_article span.f-video-editor.fr-fvn {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  /* line 287, ../sass/rwd.scss */
  #regular_article span.f-video-editor.fr-fvn iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
/* Smartphones (portrait) ----------- 
@media only screen
and (max-width : 480px) {
}*/
/* iPads (portrait and landscape) ----------- 
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
}*/
/* iPads (portrait) ----------- 
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}*/
/* Screens ----------- */
@media only screen and (max-width: 480px) {
  /* line 321, ../sass/rwd.scss */
  #main {
    display: none;
  }

  /* line 325, ../sass/rwd.scss */
  #mobile_main {
    display: block;
    background: linear-gradient(rgba(254, 255, 245, 0.5), rgba(34, 6, 6, 0.5)), url(../../images/12-sm.jpg), no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
  }
  /* line 336, ../sass/rwd.scss */
  #mobile_main #menu-btn {
    color: black;
    padding: 0 10px;
    width: auto;
    z-index: 1000;
    cursor: pointer;
    right: 10px;
  }
  /* line 345, ../sass/rwd.scss */
  #mobile_main header {
    text-align: center;
    /* padding: 20px 0; */
    width: 230px;
    margin: 75px auto;
  }
  /* line 352, ../sass/rwd.scss */
  #mobile_main header img {
    width: 220px;
    margin-top: 23%;
  }
  /* line 357, ../sass/rwd.scss */
  #mobile_main header .beta {
    text-align: right;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFEFF7;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
    width: 80px;
    /* margin: 0 auto; */
    float: right;
  }
  /* line 371, ../sass/rwd.scss */
  #mobile_main #buttons {
    margin-top: 20%;
  }
  /* line 375, ../sass/rwd.scss */
  #mobile_main .btn-round {
    background: rgba(255, 226, 226, 0.38);
    margin: 20px 40px;
    text-align: center;
    padding: 12px 0;
    font-size: 1.1em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
  }
  /* line 386, ../sass/rwd.scss */
  #mobile_main .btn-round svg {
    position: absolute;
    top: 8px;
  }
  /* line 391, ../sass/rwd.scss */
  #mobile_main .btn-round .pull-right svg {
    right: 0;
  }
  /* line 396, ../sass/rwd.scss */
  #mobile_main .icon {
    fill: #fff;
  }
  /* line 402, ../sass/rwd.scss */
  #mobile_main #cbp-spmenu-s1 h3 {
    padding: 10px;
    text-align: center;
    border-bottom: none;
  }
  /* line 408, ../sass/rwd.scss */
  #mobile_main #cbp-spmenu-s1 .category {
    /* display: inline-block; */
    height: 32px;
    /* width: 100%; */
    background: whitesmoke;
    color: white !important;
    font-size: 1.6em;
    font-weight: 700;
    margin: 9px 0;
    opacity: 0.7;
    padding: 0.6em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
  }

  /* line 424, ../sass/rwd.scss */
  #cbp-spmenu-s2 {
    width: 55%;
  }
  /* line 427, ../sass/rwd.scss */
  #cbp-spmenu-s2 h3 {
    padding: 20px 0 0 0;
    border-bottom: none !important;
  }
  /* line 432, ../sass/rwd.scss */
  #cbp-spmenu-s2 footer {
    position: absolute;
    bottom: 10px;
  }
  /* line 437, ../sass/rwd.scss */
  #cbp-spmenu-s2 #cat_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  /* line 444, ../sass/rwd.scss */
  #cbp-spmenu-s2 #cat_list li > a {
    background: rgba(247, 247, 247, 0.4);
    padding: 0.9em;
    font-size: 0.9em;
    border-bottom: 1px solid rgba(86, 86, 86, 0.06);
  }

  /* line 453, ../sass/rwd.scss */
  #navbar_top {
    /* height: 60px; */
    padding: 10px 3% 0;
    position: fixed;
    z-index: 999;
    background: white;
    width: 100%;
    margin: 0 !important;
    top: 0;
  }

  /* line 465, ../sass/rwd.scss */
  #grid {
    margin: 0px 30px;
  }
  /* line 468, ../sass/rwd.scss */
  #grid figure {
    height: 170px !important;
  }
  /* line 471, ../sass/rwd.scss */
  #grid figure p {
    font-size: 90% !important;
  }

  /* line 477, ../sass/rwd.scss */
  figure.effect-zoe figcaption,
  figure.effect-zoe h2,
  figure.effect-zoe p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }

  /* line 484, ../sass/rwd.scss */
  figure.effect-zoe figcaption {
    background: rgba(255, 255, 255, 0.27) !important;
    color: #FFFFFF !important;
  }

  /* line 489, ../sass/rwd.scss */
  #center_menu,
  #right_menu {
    display: none;
  }

  /* line 494, ../sass/rwd.scss */
  #menu-btn {
    display: block;
    position: absolute;
    top: 18px;
    color: black;
    width: auto;
  }

  /* line 502, ../sass/rwd.scss */
  #content_wrapper {
    margin-top: 75px;
  }

  /* line 511, ../sass/rwd.scss */
  #regular_article .header-img {
    width: 80% !important;
    height: 180px !important;
    margin: 2% auto !important;
    background-size: contain !important;
  }
  /* line 518, ../sass/rwd.scss */
  #regular_article .regular > h1 {
    font-size: 1.25em !important;
  }
  /* line 522, ../sass/rwd.scss */
  #regular_article .content > div:not(.title) p {
    font-size: 1.35em !important;
  }
  /* line 526, ../sass/rwd.scss */
  #regular_article .smilie {
    font-size: 3em !important;
    padding: 0 3px !important;
  }
  /* line 531, ../sass/rwd.scss */
  #regular_article #list_stuff {
    margin-left: 0 !important;
  }
  /* line 535, ../sass/rwd.scss */
  #regular_article #menu-btn {
    display: block;
    position: absolute;
    top: 21px;
    color: black;
    margin: 0;
    right: 11px;
    font-size: 1.4em;
    width: auto;
  }
  /* line 546, ../sass/rwd.scss */
  #regular_article #cbp-spmenu-s2 {
    font-size: 12.5px;
    width: 65%;
  }
  /* line 551, ../sass/rwd.scss */
  #regular_article #container {
    margin-top: 75px;
  }
  /* line 555, ../sass/rwd.scss */
  #regular_article img.fr-fin.fr-tag {
    width: 275px;
  }
  /* line 559, ../sass/rwd.scss */
  #regular_article img.fr-tag.fr-fir {
    float: none !important;
  }
  /* line 563, ../sass/rwd.scss */
  #regular_article span.f-video-editor.fr-fvn {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  /* line 569, ../sass/rwd.scss */
  #regular_article span.f-video-editor.fr-fvn iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  /* line 580, ../sass/rwd.scss */
  .about_page #menu-btn {
    right: 0;
    font-size: 1.9em;
    padding: 0 20px;
  }
  /* line 586, ../sass/rwd.scss */
  .about_page #cbp-spmenu-s2 {
    width: 65%;
    font-size: 12.5px;
  }
  /* line 590, ../sass/rwd.scss */
  .about_page #cbp-spmenu-s2 a {
    padding: 0.7em;
  }
  /* line 594, ../sass/rwd.scss */
  .about_page #cbp-spmenu-s2 #cat_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  /* line 601, ../sass/rwd.scss */
  .about_page #cbp-spmenu-s2 #cat_list li > a {
    background: rgba(247, 247, 247, 0.4);
    padding: 0.8em;
    font-size: 0.9em;
    border-bottom: 1px solid rgba(86, 86, 86, 0.06);
  }
  /* line 610, ../sass/rwd.scss */
  .about_page .flex-viewport {
    max-height: 3400px !important;
  }
  /* line 614, ../sass/rwd.scss */
  .about_page .hero h1 {
    font-size: 40px;
  }
  /* line 618, ../sass/rwd.scss */
  .about_page .hero p {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
    font-size: 1.2em;
  }

  /* line 624, ../sass/rwd.scss */
  #contact_form {
    margin: 3% 6%;
    border: none;
  }
  /* line 628, ../sass/rwd.scss */
  #contact_form h1 {
    position: relative;
    left: 0;
    background: none;
    margin-top: 0;
    width: 100%;
  }

  /* line 637, ../sass/rwd.scss */
  #about_wrapper nav ul li {
    padding: 0 8px;
  }

  /* line 641, ../sass/rwd.scss */
  #top_title img {
    width: 200px !important;
  }

  /* line 647, ../sass/rwd.scss */
  #policy p, #policy li {
    font-size: 1.4em;
  }
  /* line 651, ../sass/rwd.scss */
  #policy .inline-list li {
    padding: 9px;
  }
  /* line 655, ../sass/rwd.scss */
  #policy ol li {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 320px) {
  /* line 666, ../sass/rwd.scss */
  #mobile_main header {
    text-align: center;
    /* padding: 20px 0; */
    width: 230px;
    margin: 45px auto;
  }
  /* line 673, ../sass/rwd.scss */
  #mobile_main header img {
    width: 200px;
    margin-top: 19%;
  }
  /* line 678, ../sass/rwd.scss */
  #mobile_main header .beta {
    text-align: right;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffdbed;
    width: 80px;
    /* margin: 0 auto; */
    float: right;
  }
  /* line 691, ../sass/rwd.scss */
  #mobile_main #buttons {
    margin-top: 14%;
  }

  /* line 697, ../sass/rwd.scss */
  .about_page #menu-btn {
    right: 0;
    font-size: 1.9em;
    padding: 0 20px;
  }
  /* line 703, ../sass/rwd.scss */
  .about_page #cbp-spmenu-s2 {
    width: 65%;
    font-size: 11px;
  }
  /* line 707, ../sass/rwd.scss */
  .about_page #cbp-spmenu-s2 a {
    padding: 0.6em;
  }
  /* line 711, ../sass/rwd.scss */
  .about_page #cbp-spmenu-s2 #cat_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  /* line 718, ../sass/rwd.scss */
  .about_page #cbp-spmenu-s2 #cat_list li > a {
    background: rgba(247, 247, 247, 0.4);
    padding: 0.7em;
    font-size: 0.85em;
    border-bottom: 1px solid rgba(86, 86, 86, 0.06);
  }
  /* line 727, ../sass/rwd.scss */
  .about_page .flex-viewport {
    max-height: 3400px !important;
  }
  /* line 731, ../sass/rwd.scss */
  .about_page .hero h1 {
    font-size: 30px;
  }
  /* line 735, ../sass/rwd.scss */
  .about_page .hero p {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
    font-size: 1.1em;
  }

  /* line 743, ../sass/rwd.scss */
  #regular_article .header-img {
    width: 80% !important;
    height: 180px !important;
    margin: 2% auto !important;
    background-size: contain !important;
  }
  /* line 750, ../sass/rwd.scss */
  #regular_article .regular > h1 {
    font-size: 1.1em !important;
  }
  /* line 754, ../sass/rwd.scss */
  #regular_article .content > div:not(.title) p {
    font-size: 1.35em !important;
  }
  /* line 758, ../sass/rwd.scss */
  #regular_article img.fr-fin.fr-tag {
    width: 235px;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 767, ../sass/rwd.scss */
  .wp3 {
    background-position: -432px 0;
  }
}
@media only screen and (min-width: 1328px) {
  /* line 774, ../sass/rwd.scss */
  .intro-content h1 > span:first-child {
    font-size: 43px;
  }
}
/* iPhone 4 ----------- 
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}*/
