<!DOCTYPE html>
<html lang='en'>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="HandheldFriendly" content="true" />
         <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta charset="utf-8">  
        <link rel="icon" type="image/png" href="http://media.empire.life/site/images/favicon.png">
        <title>Empire</title>
        <meta name="description" content="A community-centric experience built to empower you. Inspire a vision. Rise to the challenge. Reign." />
        <meta name="keywords" content="Empire, minority, empowerment, women, minority women, woman, black, black women, career, entertainment, media, magazine" />
        <meta name="author" content="ThreePillarMedia, LLC" />
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jPushMenu.js') }}"></script>
        <script src="{{ url_for('static', filename='js/masonry.js') }}"></script>
        <script src="{{ url_for('static', filename='js/imagesLoaded.min.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/pushmenu/css/component.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/pushmenu.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/rwd.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/hover/css/set1.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/hover/css/set2.css') }}" />
    </head>

    <body id="content">
        <nav id='navbar_top'>
           <!--  <ul id="center_menu">
                <li class="tab"><a href="{{ url_for('index') }}">Home </a></li>
               
                <li class="dropdown">
                    <div class="dropdown-toggle" dropdown-toggle="categories" style="cursor: pointer;">Categories <span class="icon-arrow-down"></span></div>
                    <div class="dropdown-menu w-sm animated fadeInUp" id="categories">
                        <div class="panel bg-white">
                            <div class="list-group">
                                <div class="media list-group-item">
                                    <a class="media-body block m-b-none"href="{{ url_for('dashboard.news') }}">Current Events</a>
                                </div>
                                <div class="media list-group-item">
                                    <a class="media-body block m-b-none" href="{{ url_for('dashboard.tech') }}">Technology</a>
                                </div>
                                <div class="media list-group-item">
                                    <a class="media-body block m-b-none" href="{{ url_for('dashboard.money') }}">Money</a>
                                </div>
                                <div class="media list-group-item">
                                    <a class="media-body block m-b-none" href="{{ url_for('dashboard.career') }}">Career</a>
                                </div>
                                <div class="media list-group-item">
                                    <a class="media-body block m-b-none" href="{{ url_for('dashboard.mindbody') }}">Mind, Body, and Spirit</a>
                                </div>
                                <div class="media list-group-item">
                                    <a class="media-body block m-b-none" href="{{ url_for('dashboard.culture') }}">Culture + Entertainment</a>
                                </div>
                                <div class="media list-group-item">
                                    <a class="media-body block m-b-none" href="{{ url_for('dashboard.wildcard') }}">Wildcard</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="tab"><a href="{{ url_for('dashboard.cycle') }}">Cycle #1</a></li> 
            </ul> -->

            <img src="http://media.empire.life/site/images/logo-blk.png" width="100px">
            
            <!-- <ul id="right_menu">
                <a href="https://www.facebook.com/InspireRiseReign" target="_blank">
                    <li><span class="icon icon-facebook"></span></li>
                </a>
               
                <a href="http://www.instagram.com/thisisempire" target="_blank">
                    <li><span class="icon icon-instagram"></span></li>
                </a>

                <a href="https://twitter.com/_thisisempire" target="_blank">
                    <li><span class="icon icon-twitter"></span></li>
                </a>
                
                <a href="http://thisisempire.tumblr.com" target="_blank">
                    <li><span class="icon icon-tumblr"></span></li>
                </a>
            </ul> -->

            <p id="menu-btn" class="pull-right toggle-menu menu-right" hidden><span class="icon-nav icon-menu"></span></p>
        </nav>

        <nav class="articles_page cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
            <h3>
                <span class="icon icon-cross" id="close-btn" style="float: left;color: darkgray;cursor: pointer;line-height: 1.1;"></span>
                <!-- <span style="float:right;">Empire</span> -->
            </h3>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('dashboard.cycle') }}">Current Cycle</a>
            <a style="border-bottom:none;">Categories</a>
            <ul id="cat_list">
                <li><a class="media-body block m-b-none"href="{{ url_for('dashboard.news') }}">Current Events</a></li>
                <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.tech') }}">Technology</a></li>
                <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.money') }}">Money</a></li>
                <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.career') }}">Career</a></li>
                <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.mindbody') }}">Mind, Body, and Spirit</a></li>
                <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.culture') }}">Culture + Entertainment</a></li>
                <li><a class="media-body block m-b-none" href="{{ url_for('dashboard.wildcard') }}">Wildcard</a></li>
            </ul>
            <a href="{{ url_for('home.about') }}">About</a>
            <a href="{{ url_for('home.terms') }}">Terms and Privacy</a>
            <a href="{{ url_for('home.contact') }}">Contact Us</a>
        </nav>
        

        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='plugins/pushmenu/js/classie.js') }}"></script>
        <script>
            $(function() {
                $('.dropdown-toggle').dropdown();

                // dropdown menus
                $('.dropdown-toggle').click(function(e) {
                    var target = $(this).attr('dropdown-toggle');
                    $('.dropdown-menu').not('#'+target).hide();
                    
                    if ($('#'+target).is(':visible')) {
                        $('#'+target).hide();
                    }
                    else {
                        e.stopPropagation();
                        $('#'+target).show();
                    }
                });

                jQuery(document).ready(function($) {
                    $('.toggle-menu').jPushMenu();
                });

                // var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
                //     showRight = document.getElementById( 'menu-btn' ),
                //     closeRight = document.getElementById( 'close-btn' );
                
                // showRight.onclick = function() {
                //     classie.toggle( this, 'active' );
                //     classie.toggle( menuRight, 'cbp-spmenu-open' );
                //     // disableOther( 'showRight' );
                // };

                // closeRight.onclick = function() {
                //     // classie.toggle( this, 'active' );
                //     classie.toggle( menuRight, 'cbp-spmenu-open' );
                //     // disableOther( 'showRight' );
                // };
            });
        </script>
    </body> 
</html>


