{% extends "dashboard/base_articles_home.html" %}
{% block content %}
<header id='navbar_top'>
    <div style="background:url({{ url_for('static', filename='images/beauty.jpeg') }}), no-repeat; background-size:cover;height: 200px;background-position-y: -255px;position:relative;">
        <p id="section_title">Beauty</p>
    </div>

    <p id="menu-btn" class="pull-right toggle-menu menu-right" hidden><span class="icon-nav icon-menu"></span></p>

    <section id="subcategories" class="beauty">
        <ul>
            <a href="{{ url_for('dashboard.beauty') }}"><li>View All</li></a>
            <a href="{{ url_for('dashboard.sub_beauty', sub_category='fashion') }}"><li>Fashion</li></a>
            <a href="{{ url_for('dashboard.sub_beauty', sub_category='hair') }}"><li>Hair</li></a>
            <a href="{{ url_for('dashboard.sub_beauty', sub_category='body') }}"><li>Body</li></a>
        </ul>
    </section>
</header>

<main id="content_wrapper">
    <section id="articles_side" class="pull-left">
    {% if articles %}
    	{%- for i in articles %}

            {% if i.doctype == 'regular' %}
        	<figure class="article regular">
        		<img src="{{ i.featureIMG }}" alt="{{ i.title }}"/>
        		<figcaption>
        			<h2>{{ i.title }}</h2>
        			<p class="drscpt">{{ i.description }}</p>
        			<a href="{{ url_for('articles.read', username=i.author, id=i.objectId, title='-'.join((i.title).lower().split())) }}">View more</a>
        		</figcaption>			
        	</figure>

            {% elif i.doctype == 'feature' %}
            <figure class="article feature">
                <img src="{{ i.featureIMG }}" alt="{{ i.title }}"/>
                <figcaption>
                    <h2>{{ i.title }}</h2>
                    <p class="drscpt">{{ i.description }}</p>
                    <a href="{{ url_for('articles.read', username=i.author, id=i.objectId, title='-'.join((i.title).lower().split())) }}">View more</a>
                </figcaption>           
            </figure>
            {% endif %}

    	{% endfor -%}
    {% endif %}
    </section>

    <section id="" class="pull-right">
        
    </section>
</main>

{% endblock %}