<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>Error 404 | Empire</title>
        <meta name="description" content="Inspire, Rise, Reign" />
        <meta name="keywords" content="Empire, minority, empowerment, women, minority women, woman, black, black women, career, entertainment, media, magazine" />
        <meta name="author" content="ThreePillarMedia, LLC" />
		<link rel="icon" type="image/jpg" href="http://media.empire.life/site/images/favicon.png">
		
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/error_style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/pushmenu/css/component.css') }}" />
		
		<style>
			a:hover,
			a:active {
				color: #333;
			}
		</style>

    </head>

    <body>
		<div class="homepage">
			<img alt="404 Error: Page cannot be found" src="{{ url_for('static', filename='images/404v3.png') }}"/>
			<div style="text-transform:uppercase; letter-spacing: 1px; font-size: 18pt; margin-top:20px; font-family: Lato;">
				We are sorry. This page cannot be found.
			</div>
			<div style="font-size: 16pt; margin-top:20px; font-family: Lato;">
				<button class="btn btn-6 btn-6j" onClick="location.href='current'">Return to my dashboard.</button>
			</div>
		</div>

    </body>

</html>