<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>Error 500 | Empire</title>
        <meta name="description" content="Inspire, Rise, Reign" />
        <meta name="keywords" content="Empire, minority, empowerment, women, minority women, woman, black, black women, career, entertainment, media, magazine" />
        <meta name="author" content="ThreePillarMedia, LLC" />
		<link rel="icon" type="image/jpg" href="img/favicon2.jpg">
		
        <link rel="stylesheet" href="css/error_style.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		
		<style>
			a:hover,
			a:active {
				color: #333;
			}
		</style>
		<script src="js/modernizr.custom.js"></script>

    </head>

    <body>
		<div class="homepage">
			<img alt="500 Error: Server Error" src="img/500v3.png"/>
			<div style="text-transform:uppercase; letter-spacing: 1px; font-size: 18pt; margin-top:20px; font-family: Lato;">
				We are sorry. There has been a server error.
			</div>
			<div style="font-size: 16pt; margin-top:20px; font-family: Lato;">
				<button class="btn btn-6 btn-6j" onClick="location.href='index.html'">Return to my dashboard.</button>
			</div>
		</div>

    </body>

</html>