// regular article
#regular {
	background:whitesmoke;
	overflow-x: hidden;

	a {
		color: $orange !important;
	}

	#article-header {
		position: absolute;
		margin: 0 auto;
		width: 100%;
		top: 0;
		height: 420px;
		// background:linear-gradient(rgba(140, 140, 140, 0.5), rgba(0, 0, 0, 0.5));

		.bg-img {
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			
			img {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				min-width: 100%;
				min-height: 100%;
			}
		}

		.title {
			position: absolute;
			bottom: 60px;
			// width: 100%;
			color: white;
			margin-left:17.3em;
			text-align: left;

			h1 {
				font-size: 3.5em;
				font-weight: 700;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
				margin: 0;
				padding: 0;
				letter-spacing: 1.2px;
			}

			p {
				font-weight: 300;
				font-size: 1.9em;
				font-style: italic;
			}
		}
	}

	#article-side-nav {
		width: 15.5em;
		background: white;
		position: absolute;
		left:0;
		height:100%;
		top:65px;
		z-index: 100;

		div {
			text-align: center;

			#avatar {
				width: 120px;
				height: 120px;
				margin: 17%;
				border: none;
			}
		}
		

		ul {
			list-style-type: none;
			text-align: center;
			font-size: 1.25em;
			margin: 0;
			padding: 0 20px;

			li {
				margin: 18px 0;

				p:nth-child(1) {
					text-transform: uppercase;
					font-size: 0.7em;
					font-weight: 700;
					letter-spacing: 1px;
					color: rgba(0, 0, 0, 0.54);
				}

				p:nth-child(2) {
					font-size: 0.95em;
				}
			}
		}
	}

	#article-main {
		position: relative;
		padding-left: 15.5em;
		// height: 100%;
		background: whitesmoke;
		margin-top: 420px;

		#social_btns {
			padding: 10px 2em;
			border-top: 1px solid rgba(169, 169, 169, 0.22);
			border-bottom: 1px solid rgba(169, 169, 169, 0.22);

			p {
				font-size: 0.9em;
				font-weight: 700;
				text-transform: uppercase;
				color: rgba(0, 0, 0, 0.54);
			}
		}

		article {
			margin: 2em 0;
			padding:0 3em 0 1.3em;
			color: rgb(71, 71, 71);
			font-size: 1.35em;
			

			p:nth-child(1) {
				font-size: 1.5em;
				font-weight: 300;
			}

			p {
				margin: 1.3em 0;
			}
			p,span {
				font-family: 'Lora', serif !important;
			}
		}
	}

	#article-social-btm {
		border-bottom: 1px solid lightgray;
		border-top: 1px solid lightgray;
		padding: 15px 0;
	}
}


// cool link hover
// #content a:hover:before, #content a:focus:before {
// opacity: 1;
// -webkit-transform: translate3d(0, 0, 0);
// -moz-transform: translate3d(0, 0, 0);
// -ms-transform: translate3d(0, 0, 0);
// -o-transform: translate3d(0, 0, 0);
// transform: translate3d(0, 0, 0);
// }
// #content a:before {
// -webkit-transition: all 0.125s ease;
// -moz-transition: all 0.125s ease;
// transition: all 0.125s ease;
// -webkit-transform: translate3d(0, 4px, 0);
// -moz-transform: translate3d(0, 4px, 0);
// -ms-transform: translate3d(0, 4px, 0);
// -o-transform: translate3d(0, 4px, 0);
// transform: translate3d(0, 4px, 0);
// border-bottom: 1px #ccc solid;
// bottom: -2px;
// content: '';
// display: inline-block;
// left: 0;
// opacity: 0;
// position: absolute;
// pointer-events: none;
// right: 0;
// }