// base styles
@import "compass/css3";
@import "compass/layout";
  

// vars
$main-font: 'Lato', sans-serif;
$serif: 'Merriweather', serif;

$target: 960px;
$base-font-size: 16px;


// functions
@function em($type, $px, $base: $base-font-size) {
  @if $type == font {
    @return ($px / $base) * 1em;
  } 
  @else {
    @return (($px / $base) * 1%)*100;
  }
}

// base styles
// * { font-family: $main-font }

i { font-style: normal; }

body {
	@include body-format();
}

h1,h2,h3,h4,h5,p,ul,li,div {
	padding: 0;
	margin: 0;
}

a { text-decoration: none !important; color:inherit !important;}
 
// media="all"
// ::selection {
//   background: #c2f3e1;
//   text-shadow: none;
// }