#editProfile {
    background: whitesmoke;
    height: 100%;
}

#profile_wrapper {
    width: 460px;
    height: auto;
    padding-bottom: 30px;
    margin: auto;
    padding: 4% 4% 6%;

    .input-wrap {
        position: relative;
    }

    .icon-social {
        position: absolute;
        top: 25px;
        left: 10px;
        font-size: 1.1em;
    }

    .form-inline {
        font-weight: 300 !important;
        color: black !important;
        height: 25px !important;
        width: 86% !important;
        padding: 6px 0 6px 35px !important;
        font-size: 14px;
    }

    .btn-default {
        background: #DDDDDD !important;
    }

    input.form-control {
        font-weight: 300 !important;
        color: black !important;
        height: 25px !important;
        width: 95% !important;
        padding: 6px 0 6px 12px !important;
    }

    textarea.form-control {
        height: 120px !important;
        font-weight: 300 !important;
        color: black !important;
        width: 90% !important;
    }

    #pic_icon {
        font-size: 9em;
        text-align: center;
    }
}