// footer on home and misc pages
.footer {
    background: #242424;
    padding: 1.8em;
    color: rgb(200, 200, 200);
    // position: absolute;
    // width: 100%;
    // bottom: 0;

    #copyright {
        font-size: 0.75em;
        letter-spacing: 0.8px;
        float: left;
        margin: 0;
        padding-right: 50px;
        vertical-align: middle;
        line-height: 2;
        font-weight: 700;
        border-right: 1px solid rgb(63, 63, 63);
    }

    #side-left {

        #social {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0 8px;
                    display: inline-block;
                    height:40px;
                    width:40px;
                    color:white;
                    position:relative;

                    &#twitter {
                        background: $twitter;
                    }
                    &#facebook {
                        background: $facebook;
                    }
                    &#tumblr {
                        background: $tumblr;
                    }
                    &#insta {
                        background: $instagram;
                    }
                    &#mail {
                        background: $twitter;
                    }

                    span {
                        position: absolute;
                        top: 25%;
                        left: 31%;
                    }
                }
            }
        }
    }

    .nav-footer {
        position: absolute;
        margin-left: 280px;

        ul {  
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0 7px;
                display: inline-block;
                font-size: 0.7em;
                // text-transform: uppercase;

                a {
                    font-weight: 300;
                }
            }
        }
    }
}