#user_wrapper {
	padding: 4% 17%;
	background: whitesmoke;

	#profile_header {
		background: white;
		// margin: 0 17%;
		-webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.06);
		-moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.06);
		box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.06);
		padding: 2em;
		position: relative;
		// min-height: 200px;

		#avatar {
			float: left;
		}

		#info {
			// border-right: 1px solid lightgray;
			// position: absolute;
			// left:200px;
			margin-left: 185px;

			#name {
				font-size: 2.3em;
			}

			#role {
				font-style: italic;
			}

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				text-align: center;

				li {
					font-size: 1em;
					padding:0;
					margin: 6px 0;
				}

				.social {
					text-align: left;
					// margin: 1em 0;

					span {
						font-size: 1.3em;
						padding: 0 5px;

						&.icon-facebook {
							color:#2c4fa1;
						}
						&.icon-linkedin {
							color:#007bb6;
						}
						&.icon-twitter {
							color:#01afec;
						}
						&.icon-tumblr {
							color:#2b4867;
						}
						&.icon-pinterest {
							color:#cb2027;
						}
						&.icon-instagram {
							color:#46769e;
						}
					}
				}
			}
		}
	}

	#social_section {
		background: white;
		border-top: 1px solid lightgray;

		ul {
			list-style-type: none;
			text-align: center;
			margin:0;
			padding:0;

			li {
				display:inline-block;
				width: 33%;
				padding-top: 12px;
				border-right: 1px solid whitesmoke;

				p:nth-child(1) {
					color: black;
					text-transform: uppercase;
					letter-spacing: 0.5px;
					font-size: 0.7em;
					font-weight: 700;
				}

				p:nth-child(2) {
					color: $orange;
					font-size: 1.8em;
					font-weight: 300;
				}

				// &:hover {
				// 	border-bottom: 3px solid black;
				// }
			}

			li:nth-child(3) {
				border-right: none;
			}
		}
	}

	#articles,
	#followers,
	#following {
		height: 600px;
	}
}

// #social-nav {
// 	border-top: 2px solid rgba(169, 169, 169, 0.38);
// 	border-bottom: 2px solid rgba(169, 169, 169, 0.38);
// 	height: 50px;
// }