#welcome {
	@include body-format;
	background: whitesmoke;
	font-family: $main-font;
	// border-top: 5px solid #e1ff01;
	
	#top-nav {
		z-index:500;
		color:white;
		position: absolute;
		width:100%;

		#login {
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: .18em;
			padding: 30px 40px;
			cursor: pointer;
			font-size: 10px;
		}
	}

	#special {
		#title {
			text-align: center;
		}

		.top-title {
			font-size: 0.75em;
			text-transform: uppercase;
			font-weight: 700;
			border-bottom: 1px solid lightgray;
			padding: 4px 0;
			text-align: center;
		}

		#tech,
		#content {
			ul {
				list-style-type: none;
				text-align: left;
			}
		}
	}

	#footer {
		background: #242424;
		padding: 1.8em;
		color: rgb(200, 200, 200);
		// position: absolute;
		// width: 100%;
		// bottom: 0;

		#copyright {
			font-size: 0.75em;
			letter-spacing: 0.8px;
			float: left;
			margin: 0;
			padding-right: 50px;
			vertical-align: middle;
			line-height: 2;
			font-weight: 700;
			border-right: 1px solid rgb(63, 63, 63);
		}

		#side-left {

			#social {
				ul {
					list-style: none;
					margin: 0;
					padding: 0;

					li {
						margin: 0 8px;
						display: inline-block;
						height:40px;
						width:40px;
						color:white;
						position:relative;

						&#twitter {
							background: $twitter;
						}
						&#facebook {
							background: $facebook;
						}
						&#tumblr {
							background: $tumblr;
						}
						&#insta {
							background: $instagram;
						}
						&#mail {
							background: $twitter;
						}

						span {
							position: absolute;
							top: 25%;
							left: 31%;
						}
					}
				}
			}
		}

		.nav-footer {
			position: absolute;
			margin-left: 280px;

			ul {	
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin: 0 7px;
					display: inline-block;
					font-size: 0.7em;
					// text-transform: uppercase;

					a {
						font-weight: 300;
					}
				}
			}
		}
	}

	.modal-content {
		border-radius: 0px !important;
		box-shadow: none !important;
		border: none !important;
	}

	.panel {
		box-shadow: none !important;
	}
}

#cycle {
	color:white;
	position:relative;

	#current_cycle {
		// height: 100%;
		// width: 100%;
		position: absolute;

		&:hover {

			// background-position-x: -15px;
			// 	
			// img {
			// 	opacity: 0.7;
			// 	-webkit-transform: translate3d(0,0,0);
			// 	transform: translate3d(0,0,0);
			// }

			.nav-multithumb {
				width: 200px;

				.icon-wrap::after {
					width: 200px;
					-webkit-transition-delay: 0s;
					transition-delay: 0s;
				}

				div {
					pointer-events: auto;

					&::after {
						opacity: 1;
						-webkit-transition-delay: 0.3s;
						transition-delay: 0.3s;
						-webkit-transform: translateY(0);
						transform: translateY(0);
					}
				}
			}
		}
	}

	.intro-content {
		color:white;
		position: absolute;
		right: 100px;
		top: 29%;
		width: 520px;

		#cycle-count {
			margin-bottom: 20px;

			// width: 71px;
			// padding: 5px 0;
			// border-bottom: 1px solid lightgray;
		}

		#cycle-title {
			font-size: 3em;
			letter-spacing: 1px;
			font-weight: 300;
		}

		#cycle-description{
			font-size: 0.8em;
			letter-spacing: 0.7px;
			font-weight: 300;
		}

		hr {
			border-top: 1px solid rgba(225, 255, 1, 0.49);
		}
	}

	// .intro-content {
		
	// 	/*padding: 0 1em;*/
	// 	/*width: 50%;*/
	// 	cursor: pointer;
	// 	-webkit-transform: translateY(-50%) translateX(-50%);
	// 	transform: translateY(-50%) translateX(-50%);
	// 	z-index: 500;

	// 	h1 > span {
	// 		display: block;
	// 		white-space: nowrap;

	// 		&:first-child {
	// 			font-weight: 300;
	// 			font-size: 2em;
	// 		}

	// 		&:nth-child(2) {
	// 			position: relative;
	// 			margin-top: 0.5em;
	// 			padding: 0.8em;
	// 			text-transform: uppercase;
	// 			letter-spacing: 1px;
	// 			font-size: 0.8em;
	// 		}

	// 		&:nth-child(2):before {
	// 			position: absolute;
	// 			top: 0;
	// 			left: 25%;
	// 			width: 50%;
	// 			height: 2px;
	// 			background: #fff;
	// 			content: '';
	// 		}
	// 	}
	// }
}

.nav-multithumb {
	width: 60px;
	height: 100px;

	.icon-wrap {
		position: absolute;
		top: 85%;
		display: block;
		width: 32px;
		height: 32px;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 0;

		&::after {
			position: absolute;
			top: 50%;
			width: 20px;
			height: 1px;
			background: #fff;
			content: '';
			-webkit-transition: width 0.3s 0.2s;
			transition: width 0.3s 0.2s;
			// -webkit-backface-visibility: hidden; /* needed because of Chrome bug with prefixed calc */
			// backface-visibility: hidden;
			right: -webkit-calc(100% - 10px);
			right: calc(100% - 10px);
		}
	}

	svg.icon {
		fill: #fff;
	}

	div {
		position: absolute;
		// top: -25%;
		right: 33px;
		top: 85%;
		width: 290px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: end;
		// width: 170px;
		pointer-events: none;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		align-items: flex-end;

		&::after {
			content: 'Browse This Cycle';
			text-align: right;
			position: absolute;
			top: 100%;
			left: 20px;
			margin: 19px 0;
			width: 100%;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 6px;
			font-weight: 300;
			font-size: 0.65em;
			opacity: 0;
			-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s, opacity 0.4s;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
}

#login_footer {
	// width: 100%;
	background: #260937;
	padding: 13px;
	text-align: center;
	color: white;

	#login-text {
		padding:8px 40px;
		letter-spacing: 1.3px;
	}

	#icons {
		color:white;
		margin:0;
		padding:0;

		li {
			display: inline-block;
			width: 50px;
			margin: 0 13px;
			cursor: pointer;

			span {
				font-size:24pt;
			}
		}
	}
}

.logout_btn{
	margin-left:15px;
	float:right;
	color: #fff;
}

#splitlayout #mainlogin {
	z-index: 1002;
	width: 100%;
	position: relative;

}

#main_register_form{
	text-align:center;
	width:400px;
	margin: 0 auto;
}

.additional-info, .description  {
	// color: rgba(255,255,255,.6);
	font-weight: 300;
	font-size: 0.8em;
	letter-spacing: 0.3px;
	margin-top: 14px;
}

.btn-toggle {
	cursor: pointer;
}
.help-block {
	font-size: 0.8em;
	text-align: left;
	padding-left: 11px;
}

// #splitlayout {
// 	// position: relative;
// 	// overflow-x: hidden;
// 	// min-height: 100%;
// 	// width: 100%;

// 	#logo {
//   		z-index: 1000;
//   		margin-top: 10%;
//   		position: absolute;
//   		// width: 100%;
//   		left: 37%;
// 		text-align: center;
// 	}

// }

// #welcome_header {
// 	text-align: center;
// 	// margin-top: 10%;

	

// 	p {
// 		font-weight: 300;		
// 		font-size: 1.1em;
// 		letter-spacing: 1px;
// 	}
// }

// .side {
// 	position: fixed;
// 	top: 0;
// 	/*z-index: 100;*/
// 	width: 50%;
// 	height: 100%;
// 	text-align: center;
// 	-webkit-backface-visibility: hidden;
// 	transition: all 0.4s;
// }

// .intro-content {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	/*padding: 0 1em;*/
// 	/*width: 50%;*/
// 	cursor: pointer;
// 	-webkit-transform: translateY(-50%) translateX(-50%);
// 	transform: translateY(-50%) translateX(-50%);
// 	z-index: 500;

// 	h1 > span {
// 		display: block;
// 		white-space: nowrap;

// 		&:first-child {
// 			font-weight: 300;
// 			font-size: 2em;
// 		}

// 		&:nth-child(2) {
// 			position: relative;
// 			margin-top: 0.5em;
// 			padding: 0.8em;
// 			text-transform: uppercase;
// 			letter-spacing: 1px;
// 			font-size: 0.8em;
// 		}

// 		&:nth-child(2):before {
// 			position: absolute;
// 			top: 0;
// 			left: 25%;
// 			width: 50%;
// 			height: 2px;
// 			background: #fff;
// 			content: '';
// 		}
// 	}
// }

// .side-right {
// 	right: 0;
// 	// background: url(../../images/frontpage/mindy.png);
// 	// background-size: cover;
// 	color: white;
	
// 	-webkit-transition: opacity 0.35s, background-position-x 0.35s;
// 	transition: opacity 0.35s, background-position-x 0.35s;
// 	// outline: 1px solid #5A5A5A; /* avoid gap */

// 	// img {
// 	// 	height: 100%;
// 	// 	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
// 	// 	transition: opacity 0.35s, transform 0.35s;
// 	// 	-webkit-transform: translate3d(40px,0,0);
// 	// 	transform: translate3d(40px,0,0);
// 	// 	margin-left: -40px;	
// 	// }

// 	&:hover {

// 		background-position-x: -15px;
// 		// 	
// 		// img {
// 		// 	opacity: 0.7;
// 		// 	-webkit-transform: translate3d(0,0,0);
// 		// 	transform: translate3d(0,0,0);
// 		// }

// 		.nav-multithumb {
// 			width: 200px;

// 			.icon-wrap::after {
// 				width: 200px;
// 				-webkit-transition-delay: 0s;
// 				transition-delay: 0s;
// 			}

// 			div {
// 				pointer-events: auto;

// 				&::after {
// 					opacity: 1;
// 					-webkit-transition-delay: 0.2s;
// 					transition-delay: 0.2s;
// 					-webkit-transform: translateY(0);
// 					transform: translateY(0);
// 				}
// 			}
// 		}
// 	}

// 	.intro-content {

// 		p {
// 			text-align: left;
// 			text-transform: uppercase;
// 			font-weight: 300;
// 			font-size: 1.3em;
// 			letter-spacing: 1px;
// 			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
// 		}
// 	}
// }


// .side-left {
// 	left: 0;
// 	background: white;
// 	color: #5A5A5A;
// 	// outline: 1px solid #5A5A5A; /* avoid gap */
// 	overflow-y: scroll;
// 	z-index: 50;

// 	#title {
// 		font-size: 4.7em;
// 		color: rgb(81, 81, 81);
// 		font-weight: 300;
// 		// margin: 0;
// 	}

// 	#categories {
// 		opacity: 0;
// 		position: absolute;
// 		width: 100%;

// 		ul {
// 			list-style-type: none;
// 			margin: 0;
// 			padding: 15px 0 50px 0;

// 			li {
// 				display: inline-block;
// 				height: 100px;
// 				width: 75%;
// 				background: whitesmoke;
// 				color: white;
// 				font-size: 1em;
// 				font-weight: 300;
// 				margin: 9px 0;
// 				opacity: 0.4;

// 				p {
// 					margin-top: 25px;
// 					font-size: 1.7em;
// 					color: black;
// 					font-weight: 700;
// 				}

// 				&:hover {
// 					opacity: 1;
// 				}
// 			}
// 		}
// 	}
// }

/* Media Queries */
// @media screen and (max-width: 83em) {
// 	.intro-content { font-size: 60%; }
// }

// @media screen and (max-width: 58em) {
// 	body { font-size: 90%; }
// }

// @media screen and (max-width: 49.4375em) {

// 	.intro-content {
// 		width: 100%;
// 	}
// }

// @media screen and (max-width: 42.5em) {
// 	body { font-size: 80%; }
// 	.intro-content { font-size: 50%; }
// }

// @media screen and (max-height: 41.125em) {
// 	.intro-content {
// 		-webkit-transform: translateY(-25%) translateX(-50%);
// 		transform: translateY(-25%) translateX(-50%);
// 	}
// }

// @media screen and (max-width: 39.375em) {
// 	.intro-content .profile { -webkit-transform: scale(0.5); transform: scale(0.5); }
// }

// @media screen and (max-width: 320px) {
// 	body { font-size: 70%; }
// }
