<html lang='en'>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <meta name="HandheldFriendly" content="true">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta charset="utf-8">
        <meta name="author" content="ThreePillarMedia, LLC" />
        <meta name="url" content="http://www.empire.life">
        <meta name="description" content="A community-centric experience built to empower you. Inspire a vision. Rise to the challenge. Reign." />
        <link rel="icon" type="image/png" href="http://media.empire.life/site/images/favicon.png">
        <title>Under Maintenance | Empire</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/utilities.css') }}" />
	</head>

	<body class="container">
		<div class="full-content-center">
			<div class="maintenance animated flipInX">
				<h1>
					<i class="icon-wrench"></i>
					<br>
					Under Maintenance
				</h1>
				
				<h2>Please give us a moment to update the site. Thanks!</h2>
			</div>
		</div>
	</body>
</html>