<!DOCTYPE html>
<html lang='en'>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:300,400' rel='stylesheet'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="HandheldFriendly" content="true" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta charset="utf-8">  
        <link rel="icon" type="image/png" href="http://media.empire.life/site/images/favicon.png">
        <title>Empire</title>
        <meta name="description" content="A community-centric experience built to empower you. Inspire a vision. Rise to the challenge. Reign." />
        <meta name="keywords" content="Empire, minority, empowerment, women, minority women, woman, black, black women, career, entertainment, media, magazine" />
        <meta name="author" content="ThreePillarMedia, LLC" />
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/main.css') }}" />
    </head>

    <body>
        <nav id='menu_wrapper'>
            <ul id='menu'>
                <a href="">
                    <li id="logo">
                        <img src="http://media.empire.life/site/images/logo-blk.png" alt="Empire logo" width="140px">
                    </li>
                </a>

                <a href="">
                    <li class="tab active" id="write">
                        <p>My Feed</p>
                    </li>
                </a>

                <a href="">
                    <li class="tab" id="review">
                        <p>Content</p>
                        <!-- <ul>
                            <li>Cycle 1</li>
                            <li>Categories</li>
                        </ul> -->
                    </li>
                </a>

                <a href="">
                    <li class="tab" id="mine">
                        <p>Comments</p>
                    </li>
                </a>

                <a href="">
                    <li class="tab" id="tools">
                        <p>Discussions</p>
                    </li>
                </a>

                <a href="">
                    <li class="tab">
                        <p>Settings</p>
                    </li>
                </a> 
            </ul>
        </nav>

        <header id="header_wrapper">
            <div></div>
            <p>{{ username }}</p>
        </header>
        
        {% block content %}{% endblock %}
    </body>    
</html>