<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <meta name="HandheldFriendly" content="true">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta charset="utf-8">  
        <meta name="author" content="ThreePillarMedia, LLC" />
        <meta name="url" content="http://www.empire.life">
        <meta name="description" content="A community-centric experience built to empower you. Inspire a vision. Rise to the challenge. Reign." />
        <link rel="icon" type="image/png" href="http://media.empire.life/site/images/favicon.png">
        <title>Empire</title>
        <script src="{{ url_for('static', filename='js/editprofile.js') }}"></script>
        <script src="{{ url_for('static', filename='js/s3upload.js') }}"></script>
        <script src="{{ url_for('static', filename='js/progressbar.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/main.css') }}" />
    </head>

    <body id="editProfile" ng-app="editProfile">
        {#
            To-Do:

            - upload avatar image and scale for different sizes
                medium: for all displays
                small: for mini-avatar view

                save image links to db in avatar json string
        #}
        
        <header class="blank-header">
            <div class="text-center text-uppercase l-s-1x padder-v"><strong>Empire</strong></div>
        </header>

        <div class="text-center padder-v l-s">
            <p><small>Take a moment to edit your public profile.</small></p>
        </div>

        <main id="profile_wrapper" class="panel panel-default">
            <form id="profile" novalidate="novalidate" ng-controller="profileController">
                <div class="form-group">
                    <p class="label2 pull-left">Username</p>
                    <input type="text" id="formUsername" class="form-input2" ng-model="formData.username" ng-init="formData.username='{{ user['username'] or '' }}'" required>
                    <p class="help-block" ng-show="formUsername.$invalid">Please create a username. You can change it as often as you like (as long as it doesn't already exist).</p>
                </div>

                <div class="form-group">
                    <p class="label2">Email Address</p>
                    <input type="email" class="form-input2" ng-model="formData.email" ng-init="formData.email='{{ user['email'] or '' }}'">
                </div>
                
                <div class="form-group">
                    <p class="label2">Full Name</p>
                    <input type="text" class="form-input2" ng-model="formData.fullname" ng-init="formData.fullname='{{ user['fullname'] or '' }}'">
                </div>

                <div class="form-group">
                {% if user.avatar %}
                    <img id="old_avatar" src="{{ user['avatar'] }}" alt="Profile picture" width="250" />
                    
                    <div class="clearfix"></div>

                    <p id="change_avatar" class="btn btn-default">Change Avatar</p>
                    
                    <div id="avi" hidden>
                        <p id="pic_icon">
                            <span class="icon-focus"></span>
                            <img id="avatar_pic" src="" alt="Profile Picture" width="278" style="margin-bottom:15px;" hidden />
                        </p>
                        
                        <input class="form-control" id="avatar" name="avatar" placeholder="None" style="margin-bottom:25px;" type="file">
                        
                        <div class="clearfix"></div>

                        <p class="btn btn-primary" id="uploadAvi">Upload Image</p>

                        <div id="progress" hidden></div>
                            
                        <div class="response" id="success_upload" style="text-align:center;" hidden><span style="color: #4CDBA5;" class="icon icon-check"></span></div>
                            
                        <div class="response" id="error_upload" style="text-align:center;" hidden><span style="color: #FA626E;" class="icon icon-cross"></span></div>
                    </div>
                {% else %}
                    <p class="label2">Profile Picture</p>
                    
                    <p id="pic_icon">
                        <span class="icon-focus"></span>
                        <img id="avatar_pic" src="" alt="Profile Picture" width="278" style="margin-bottom:15px;" hidden />
                    </p>
                    
                    <input class="form-control" id="avatar" name="avatar" placeholder="None" style="margin-bottom:25px;" type="file">
                    
                    <div class="clearfix"></div>

                    <p class="btn btn-primary" id="uploadAvi">Upload Image</p>

                    <div id="progress" hidden></div>
                            
                    <div class="response" id="success_upload" style="text-align:center;" hidden><span style="color: #4CDBA5;" class="icon icon-check"></span></div>
                            
                    <div class="response" id="error_upload" style="text-align:center;" hidden><span style="color: #FA626E;" class="icon icon-cross"></span></div>
                {% endif %}
                </div>

                <div class="form-group">
                    <p class="label2">Biographical Info</p>
                    <textarea class="form-control" placeholder="A short, captivating statement about yourself" ng-model="formData.bio" ng-init="formData.bio='{{ user['bio'] or '' }}'"></textarea>
                </div>

                <div class="form-group">
                    <p class="label2">Personal Website</p>
                    <input type="text" class="form-input2" ng-model="formData.website" ng-init="formData.website='{{ user['website'] or '' }}'">
                </div>

                <div class="form-group">
                    <p class="label2">Facebook</p>
                    <input type="text" class="form-input2" ng-model="formData.facebook" ng-init="formData.facebook='{{ user['facebook'] or '' }}'">
                </div>

                <div class="form-group">
                    <p class="label2">Twitter</p>
                    <input type="text" class="form-input2" ng-model="formData.twitter" ng-init="formData.twitter='{{ user['twitter'] or '' }}'">
                </div>

                <div class="form-group">
                    <p class="label2">Tumblr</p>
                    <input type="text" class="form-input2" ng-model="formData.tumblr" ng-init="formData.tumblr='{{ user['tumblr'] or '' }}'">
                </div>

                <div class="form-group">
                    <p class="label2">Pinterest</p>
                    <input type="text" class="form-input2" ng-model="formData.pinterest" ng-init="formData.pinterest='{{ user['pinterest'] or '' }}'">
                </div>

                <div class="form-group">
                    <p class="label2">LinkedIn</p>
                    <input type="text" class="form-input2" ng-model="formData.linkedin" ng-init="formData.linkedin='{{ user['linkedin'] or '' }}'">
                </div>

                <div class="form-group">
                    <p class="label2">Instagram</p>
                    <input type="text" class="form-input2" ng-model="formData.instagram" ng-init="formData.instagram='{{ user['instagram'] or '' }}'">
                </div>
                
                <input type="text" id="imageURL" class="form-inline" ng-model="formData.avatar" ng-init="formData.avatar='{{ user['avatar'] or '' }}'" hidden="true">

                {# taken back to dashboard upon successful update #}
                <p id="submitBtn" class='btn bn-black pull-left' ng-click="updateProfile()">Update Profile</p>
                
                <div id="error_msg" class="alert error sticky animated fadeInDown" hidden>
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p class="message"></p>
                </div>

                <div id="success_msg" class="alert success sticky animated fadeInDown" hidden>
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p class="message"></p>
                </div>

                <!-- loading animation -->
                <div id="loader" class="text-center" hidden> 
                    <img src="{{ url_for('static', filename='images/svg/tail-spin-black.svg') }}" width="50" alt="loading animation">
                </div>
            </form>
        </main>
    </body>
</html>
