@font-face {
	font-family: 'Droidiga';
	src: url('../fonts/Droidiga.otf');
}

* {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none !important;
}

#main_header {
	height:8px;
	position: absolute;
	width: 100%;
	background: black;
	margin-top: 2%;
}
#header_logo {
	text-align: center;
	color:white;
	background:black;
	position:absolute;
	left: 53%;
	top: -21px;
	padding: 14px 15px 9px 15px;
	font-family: 'Rock Salt', cursive;
	font-size: 17pt;
	border-radius: 50%;
}

#main_content {
	padding: 8% 0 0 160px;
	position: absolute;
	width: 1140px;
	min-height: 1500px;
	overflow: hidden;
}

#cycle_title {
	border: 1px solid black;
	/* width: 75%; */
	margin-left: auto ;
 	 margin-right: auto ;
	height: 300px;
	width: 700px;
	cursor: pointer;
	background: url('images/pos_body.jpg') no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.modal-content {
	padding:20px;
}

.nav_wrapper {
	position: fixed;
	max-height: 100%;
	z-index: 51;
	-webkit-transform: translateZ(0);
	top: 0;
	bottom: 0;
}

.nav_inner {
	position: absolute;
	background-color: #292929;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: 30;
	width: 160px;
	overflow: hidden;
	font-size: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-shadow: 6px 0px 8px -6px black;
	   -moz-box-shadow: 6px 0px 8px -6px black;
	        box-shadow: 6px 0px 8px -6px black;
}

.menuitem {
	color: #FFF;
	display: block;
	position: relative;
	z-index: 25;
	margin: 0;
	text-decoration: none !important;
	background-color: #292929;
	text-transform: uppercase;
	width: 160px;
	padding: 14px 0 14px 10px;
	line-height: 13px;
	transition: all 1s ease;
}

.menuitem#career:hover {
	background-color: aquamarine ;
	color: white;
}

.menuitem#money:hover {
	background-color: goldenrod;
	color: white;
}

.menuitem#health:hover {
	background-color: orchid;
	color: white;
}

.menuitem#fashion:hover {
	background-color: turquoise;
	color: white;
}

.menuitem#politics:hover {
	background-color: coral;
	color: white;
}
.menuitem#wildcard:hover {
	background-color: indianred;
	color: white;
}

.nav_inner > a {
	text-decoration: none !important;
	color: white;
}

.nav_top {
	z-index: 30;
	margin-top: 50px;
	color: white;
	text-align: center;
	font-size: 100%;
}

.nav_top p {
	padding: 10px;
	font-size: 9pt;;
}

#nav_top_title {
	font-size: 27pt;
	text-transform: uppercase;
	padding: 0 0 20px 0;
}

#current_cycle {
	background-color: white;
	background-size: cover;
	width: 140px;
	height: 140px;
	margin: 10px;
	content: "Image here";
}


