// variables for main Empire colors
// Cycle 			- 2

$header_white: #f8f8f8;
$header_black: #292929;
$pink: #e64c65;
$black: #2a3133;
$gray: #e0e4e7;
$silver: #c0c9cb;
$red: #e66e4c;
$orange: #f3844d;
$minty: #24c4bc;
$blue: #239fdb;
$lt-gray: #cfccc7;
