@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('#{$font-filename}.eot?3aoc66');
		src: url('#{$font-filename}.eot?#iefix3aoc66') format('embedded-opentype'),
		url('#{$font-filename}.woff?3aoc66') format('woff'),
		url('#{$font-filename}.ttf?3aoc66') format('truetype'),
		url('#{$font-filename}.svg?3aoc66#{$font-family}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	}
}