/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	// login
	.bkg-img {
		background: rgb(86, 84, 84);
	}
	#login {

		img {
			width: 200px;
		}
		.form {	
			width: em(layout, 350px, 480px);
		}
	}
	.form-input {
		height: 45px;
		background: white;
		margin: 2px 0 2px 0;
		color: black;
	}
	.additional-info, .description  {
		color: #A9A9A9;
		text-align: center;
	}
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-device-width : 321px)
and (max-device-width : 640px)
and (orientation : landscape) {
	// login
	.bkg-img {
		background: rgb(86, 84, 84);
	}
	#login {
		height: 350px;

		img {
			width: 150px;
		}
		.form {
			width: em(layout, 350px, 640px);
		}
	}
	.form-input {
		height: 45px;
		background: white;
		margin: 2px 0 2px 0;
		color: black;
	}
	.additional-info, .description  {
		color: #A9A9A9;
		text-align: center;
	}
}
 
/* Smartphones (portrait) ----------- 
@media only screen
and (max-width : 480px) {
}*/
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

	// login
	#login {
		img {
			width: 325px;
		}

		.form {
			width: em(layout, 350px, 1024px);
		}
	}
	.form-input {
		height: 50px;
	}
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	// login
	#login {
		img {
			width: 325px;
		}

		.form {
			width: em(layout, 350px, 768px);
		}
	}
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1300px) {
	#login {
		height: 550px;
	}
}
 
/* iPhone 4 ----------- 
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}*/