/* Smartphones (portrait and landscape) ----------- 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
}*/
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-device-width : 321px)
and (max-device-width : 640px)
and (orientation : landscape) {
	#content {

		#right_menu,
		.cbp-spmenu  {
			display:none;
		}

		#center_menu {
			line-height: 1;
			padding: 20px 0;

			li {
				font-size: 0.9em;
			}
		}
	}

	#grid {
		margin: 0px 30px;

		figure {
			width: 220px;
			margin: 10px;
			height: 120px !important;

			p {
				font-size: 80% !important;
			}
		}
	}

	figure.effect-zoe figcaption, 
	figure.effect-zoe h2, 
	figure.effect-zoe p.icon-links a {
	    -webkit-transform: translate3d(0,0,0) !important;
		transform: translate3d(0,0,0) !important;
	}

	figure.effect-zoe figcaption {
		background: rgba(255, 255, 255, 0.27) !important;
		color: #FFFFFF !important;
	}

	#contact_form {
    h1 {
      left: 32%;
    }
	}

	#regular_article {

		// header {
		// 	height: 85%;
		// }
		.header-img {
			width: 80%;
			height: 100px;
			margin: 2% auto !important;
			background-size: contain !important;
		}

		.regular > h1 {
			font-size: 1.25em !important;
		}

		.content > div:not(.title) p {
			font-size: 1.35em !important;
		}

		.smilie {
			font-size: 3em !important;
			padding: 0 3px !important;
		}

		#list_stuff {
			margin-left: 0 !important;
		}

		#cbp-spmenu-s2 {
			display:none;
		}

		img.fr-fin.fr-tag {
			width: 275px;
		}

		.f-video-editor .fr-fvn {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media only screen
and (min-device-width : 641px)
and (max-device-width : 736px)
and (orientation : landscape) {

	.about_page {
		.hero {
			padding: 0;

			.inner {
				margin-top:0;
			}
		}

		#menu-btn {
			display: none;
		}
		
		#min_btn {
			display: block;
		}
	}

	#welcome {
		#logo {
			left: 32%;

			img {
				width: 200px !important;
			}

			.beta {
				font-size: 1.4em;
				width: 75px;
				letter-spacing: 2.5px;
			}
		}

		.nav-footer ul li {
			margin: 0 3px;
		}

		.side-left #categories ul li {
			height: 55px;
			font-weight: 700;
			margin: 9px 0;
			opacity: 0.7;
			padding: 0.6em;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
			background-position: 0 !important;

			p {
				color: white !important;
				font-size: 1.4em;
				text-align: right;
			}
		}
	}

	#content {

		#right_menu,
		.cbp-spmenu  {
			display:none;
		}

		#center_menu {
			line-height: 1;
			padding: 20px 0;

			li {
				font-size: 0.9em;
			}
		}
	}

	#grid {
		margin: 0px 30px;

		figure {
			width: 270px;
			margin: 10px;
			height: 170px !important;

			&.effect-zoe {
				figcaption,
				h2,
				p.icon-links a {
					-webkit-transform: translate3d(0,0,0) !important;
					transform: translate3d(0,0,0) !important;
				}

				figcaption {
					background: rgba(255, 255, 255, 0.27) !important;
					color: #FFFFFF !important;
				}
			}

			p {
				font-size: 90% !important;
			}
		}
	}

	#contact_form {
    h1 {
      left: 32%;
    }
	}

	#regular_article {

		// header {
		// 	height: 85%;
		// }
		.header-img {
			width: 80%;
			height: 100px;
			margin: 2% auto !important;
			background-size: contain !important;
		}

		.regular > h1 {
			font-size: 1.25em !important;
		}

		.content > div:not(.title) p {
			font-size: 1.35em !important;
		}

		.smilie {
			font-size: 3em !important;
			padding: 0 3px !important;
		}

		#list_stuff {
			margin-left: 0 !important;
		}

		#cbp-spmenu-s2 {
			display:none;
		}

		// #cat_list {
		// 	list-style-type: none;
		// 	margin: 0;
		// 	padding: 0;
		// 	border-bottom: 3px solid black;
		// 	border-top: 2px solid black;

		// 	li > a {
		// 		background: rgba(247, 247, 247, 0.4);
		// 		padding: 0.9em;
		// 		font-size: 0.9em;
		// 		border-bottom: 1px solid rgba(86, 86, 86, 0.06);
		// 	}
		// } 

		img.fr-fin.fr-tag {
			width: 275px;
		}

		img.fr-tag.fr-fir {
			float: none !important;
		}

		span.f-video-editor.fr-fvn {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}
	}
}
 
/* Smartphones (portrait) ----------- 
@media only screen
and (max-width : 480px) {
}*/
 
/* iPads (portrait and landscape) ----------- 
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
}*/
 
/* iPads (portrait) ----------- 
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}*/


/* Screens ----------- */
@media only screen
and (max-width : 480px) {
	// front page
	#main {
		display: none;
	}

	#mobile_main {
		display: block;
		background: linear-gradient(rgba(254, 255, 245, 0.5), rgba(34, 6, 6, 0.5)),  url(../../images/12-sm.jpg), no-repeat center center fixed;
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		height: 100%;
		position: fixed;
		width: 100%;

		#menu-btn {
			color: black;
			padding: 0 10px;
			width: auto;
			z-index: 1000;
			cursor: pointer;
			right: 10px;
		}

		header {
			text-align: center;
			/* padding: 20px 0; */
			width: 230px;
			margin: 75px auto;


			img {
				width: 220px;
				margin-top: 23%;
			}

			.beta {
				text-align: right;
				font-size: 2em;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 2px;
				color: #FFEFF7;
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
				width: 80px;
				/* margin: 0 auto; */
				float: right;
			}
		}

		#buttons {
			margin-top: 20%;
		}

		.btn-round {
			background: rgba(255, 226, 226, 0.38);
			margin: 20px 40px;
			text-align: center;
			padding: 12px 0;
			font-size: 1.1em;
			color: white;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-weight: 300;

			svg {
				position: absolute;
				top: 8px;
			}

			.pull-right svg {
				right: 0;
			}
		}

		.icon {
			fill: #fff;
		}

		#cbp-spmenu-s1 {

			h3 {
				padding: 10px;
				text-align: center;
				border-bottom: none;
			}

			.category {
				/* display: inline-block; */
				height: 32px;
				/* width: 100%; */
				background: whitesmoke;
				color: white !important;
				font-size: 1.6em;
				font-weight: 700;
				margin: 9px 0;
				opacity: 0.7;
				padding: 0.6em;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
			}
		}
	}

	#cbp-spmenu-s2 {
		width: 55%;

		h3 {
			padding: 20px 0 0 0;
			border-bottom: none !important;
		}

		footer {
			position: absolute;
			bottom: 10px;
		}

		#cat_list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			border-bottom: 2px solid black;
			border-top: 2px solid black;

			li > a {
				background: rgba(247, 247, 247, 0.4);
				padding: 0.9em;
				font-size: 0.9em;
				border-bottom: 1px solid rgba(86, 86, 86, 0.06);
			}
		} 
	}

	#navbar_top {
		/* height: 60px; */
		// border-bottom: 2px solid rgba(169, 169, 169, 0.35);
		padding: 10px 3% 0;
		position: fixed;
		z-index: 999;
		background: white;
		width: 100%;
		margin: 0 !important;
		top: 0;
	}

	#grid {
		margin: 0px 30px;

		figure {
			height: 170px !important;

			p {
				font-size: 90% !important;
			}
		}
	}

	figure.effect-zoe figcaption, 
	figure.effect-zoe h2, 
	figure.effect-zoe p.icon-links a {
	    -webkit-transform: translate3d(0,0,0) !important;
		transform: translate3d(0,0,0) !important;
	}

	figure.effect-zoe figcaption {
		background: rgba(255, 255, 255, 0.27) !important;
		color: #FFFFFF !important;
	}

	#center_menu,
	#right_menu {
		display: none;
	}

	#menu-btn {
		display:block;
		position: absolute;
		top: 18px;
		color: black;
		width: auto;
	}

	#content_wrapper {
		margin-top: 75px;
	}

	#regular_article {

		// header {
		// 	height: 85%;
		// }
		.header-img {
			width: 80% !important;
			height: 180px !important;
			margin: 2% auto !important;
			background-size: contain !important;
		}

		.regular > h1 {
			font-size: 1.25em !important;
		}

		.content > div:not(.title) p {
			font-size: 1.35em !important;
		}

		.smilie {
			font-size: 3em !important;
			padding: 0 3px !important;
		}

		#list_stuff {
			margin-left: 0 !important;
		}

		#menu-btn {
			display: block;
			position: absolute;
			top: 21px;
			color: black;
			margin: 0;
			right: 11px;
			font-size: 1.4em;
			width: auto;
		}

		#cbp-spmenu-s2 {
			font-size: 12.5px;
			width: 65%;
		}

		#container {
			margin-top: 75px;
		}

		img.fr-fin.fr-tag {
			width: 275px;
		}
		
		img.fr-tag.fr-fir {
			float: none !important;
		}

		span.f-video-editor.fr-fvn {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}
	}

	.about_page {
		#menu-btn {
			right: 0;
			font-size: 1.9em;
			padding: 0 20px;
		}

		#cbp-spmenu-s2 {
			width: 65%;
			font-size: 12.5px;

			a {
				padding: 0.7em;
			}

			#cat_list {
				list-style-type: none;
				margin: 0;
				padding: 0;
				border-bottom: 2px solid black;
				border-top: 2px solid black;

				li > a {
					background: rgba(247, 247, 247, 0.4);
					padding: 0.8em;
					font-size: 0.9em;
					border-bottom: 1px solid rgba(86, 86, 86, 0.06);
				}
			}
		}

		.flex-viewport {
			max-height: 3400px !important;
		}

		.hero h1 {
			font-size: 40px;
		}

		.hero p {
			text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
			font-size: 1.2em;
		}
	}

	#contact_form {
		margin: 3% 6%;
		border: none;

		h1 {
			position: relative;
			left: 0;
			background: none;
			margin-top: 0;
			width: 100%;
		}
	}

	#about_wrapper nav ul li {
		padding: 0 8px;
	}

	#top_title img {
		width: 200px !important;
	}

	#policy {

		p, li {
			font-size: 1.4em;
		}

		.inline-list li {
			padding: 9px;
		}

		ol li {
			font-size: 1.2em;
		}
	}
}


@media only screen
and (max-width : 320px) {
	
	#mobile_main {
		header {
			text-align: center;
			/* padding: 20px 0; */
			width: 230px;
			margin: 45px auto;


			img {
				width: 200px;
				margin-top: 19%;
			}

			.beta {
				text-align: right;
				font-size: 2em;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 2px;
				color: rgb(255, 219, 237);
				width: 80px;
				/* margin: 0 auto; */
				float: right;
			}
		}

		#buttons {
			margin-top: 14%;
		}
	}

	.about_page {
		#menu-btn {
			right: 0;
			font-size: 1.9em;
			padding: 0 20px;
		}

		#cbp-spmenu-s2 {
			width: 65%;
			font-size: 11px;

			a {
				padding: 0.6em;
			}

			#cat_list {
				list-style-type: none;
				margin: 0;
				padding: 0;
				border-bottom: 2px solid black;
				border-top: 2px solid black;

				li > a {
					background: rgba(247, 247, 247, 0.4);
					padding: 0.7em;
					font-size: 0.85em;
					border-bottom: 1px solid rgba(86, 86, 86, 0.06);
				}
			}
		}

		.flex-viewport {
			max-height: 3400px !important;
		}

		.hero h1 {
			font-size: 30px;
		}

		.hero p {
			text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
			font-size: 1.1em;
		}

	}

	#regular_article {
		.header-img {
			width: 80% !important;
			height: 180px !important;
			margin: 2% auto !important;
			background-size: contain !important;
		}

		.regular > h1 {
			font-size: 1.1em !important;
		}

		.content > div:not(.title) p {
			font-size: 1.35em !important;
		}

		img.fr-fin.fr-tag {
			width: 235px;
		}
	}
}


@media only screen
and (min-width : 1280px) {
	.wp3 {
		background-position: -432px 0;
	}
}

@media only screen
and (min-width : 1328px) {
 .intro-content h1 > span:first-child {
		font-size:43px;
	}
}
/* iPhone 4 ----------- 
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}*/