<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>{{ article['title'] }} - Empire</title>
		<meta name="description" content="Inspire, Rise, Reign" />
        <meta name="keywords" content="Empire, minority, empowerment, women, minority women, woman, black, black women, career, entertainment, media, magazine" />
        <meta name="author" content="ThreePillarMedia, LLC" />
		<link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.png') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/intro/css/normalize.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/intro/css/demo.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/intro/css/component.css') }}" />
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sc/release/side-comments.css') }}" /> -->
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sc/release/themes/default-theme.css') }}" /> -->
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sc/support/css/basics.css') }}" /> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/icons.css') }}" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</head>
	<body class="demo-2">
		<p id="id" hidden>{{ article['objectId'] }}</p>
		<div id="container" class="container intro-effect-fadeout modify">
			<header class="header">
				<div class="bg-img"><img src="{{ article.headerIMG }}" alt="Background Image" /></div>
				<div class="title">
					<h1 style="text-align: center;">{{ article.title }}</h1>
					<p class="subline">{{ article.description }}</p>
					<p>by <strong>{{ article.author }}</strong> &#8212; Posted in <strong>{{ ', '.join(article.category) }}</strong> on <strong id="date"></strong></p>
				</div>
			</header>
			<article class="content">
				<div id="commentable-container" class="container commentable-container"></div>
			</article>

			<section id="beta_msg" style="text-align: center;margin: 0 15%;padding-bottom: 40px;">
				<hr>

				<h3>How'd you like this article?</h3>
				<div>
					<span onclick="articles.rate('likes');" class="icon icon-smile-o" style="cursor:pointer; color:#6dd7a5; font-size:4em; padding:0 8px;"></span>
					<span onclick="articles.rate('meh');" class="icon icon-meh-o" style="cursor:pointer; color:#ffbc41; font-size:4em; padding:0 8px;"></span>
					<span onclick="articles.rate('dislikes');" class="icon icon-frown-o" style="cursor:pointer; color:indianred; font-size:4em; padding:0 8px;"></span>
					<p id="message" hidden><small>Your response has been recorded. Thank you!</small></p>
				</div>
				<p>When we roll out the full-site, you will be able to:</p>
				<ul style="text-align: left;margin-left: 20%;font-size: 0.8em;">
					<li>create an account and log in</li>
					<li>comment on article <a href="https://medium.com/about/why-medium-notes-are-different-and-how-to-use-them-well-5972c72b18f2" target="_blank">Medium.com style</a></li>
					<li>contribute your own thoughts to an article</li>
					<li>start a dialog with the Empire community</li>
					<li>bookmark and favorite an article</li>
					<li>... and more!</li>
				</ul>
				<p>Is there something particular you would like to see? Suggest a feature through our <a href="{{ url_for('home.contact') }}">contact form</a>.</p>
			</section>
		</div>
		</div>
		
		

		<div id="article_content" hidden>{{ article.content }}</div>
		<div id="article_date" hidden>{{ article.releaseDate }}</div>
		
		<script src="{{ url_for('static', filename='plugins/intro/js/classie.js') }}"></script>
		
		<!--<script src="{{ url_for('static', filename='plugins/sc/release/side-comments.js') }}"></script>
		<script src="{{ url_for('static', filename='plugins/sc/support/js/jquery.js') }}"></script>
		 <script src="{{ url_for('static', filename='plugins/sc/support/test_data.js') }}"></script> -->
		
		<script>
			(function() {

				// detect if IE : from http://stackoverflow.com/a/16657946		
				var ie = (function(){
					var undef,rv = -1; // Return value assumes failure.
					var ua = window.navigator.userAgent;
					var msie = ua.indexOf('MSIE ');
					var trident = ua.indexOf('Trident/');

					if (msie > 0) {
						// IE 10 or older => return version number
						rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
					} else if (trident > 0) {
						// IE 11 (or newer) => return version number
						var rvNum = ua.indexOf('rv:');
						rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
					}

					return ((rv > -1) ? rv : undef);
				}());


				// disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179					
				// left: 37, up: 38, right: 39, down: 40,
				// spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
				var keys = [32, 37, 38, 39, 40], wheelIter = 0;

				function preventDefault(e) {
					e = e || window.event;
					if (e.preventDefault)
					e.preventDefault();
					e.returnValue = false;  
				}

				function keydown(e) {
					for (var i = keys.length; i--;) {
						if (e.keyCode === keys[i]) {
							preventDefault(e);
							return;
						}
					}
				}

				function touchmove(e) {
					preventDefault(e);
				}

				function wheel(e) {
					// for IE 
					//if( ie ) {
						//preventDefault(e);
					//}
				}

				function disable_scroll() {
					window.onmousewheel = document.onmousewheel = wheel;
					document.onkeydown = keydown;
					document.body.ontouchmove = touchmove;
				}

				function enable_scroll() {
					window.onmousewheel = document.onmousewheel = document.onkeydown = document.body.ontouchmove = null;  
				}

				var docElem = window.document.documentElement,
					scrollVal,
					isRevealed, 
					noscroll, 
					isAnimating,
					container = document.getElementById( 'container' ),
					trigger = container.querySelector( 'button.trigger' );

				function scrollY() {
					return window.pageYOffset || docElem.scrollTop;
				}
				
				function scrollPage() {
					scrollVal = scrollY();
					
					if( noscroll && !ie ) {
						if( scrollVal < 0 ) return false;
						// keep it that way
						window.scrollTo( 0, 0 );
					}

					if( classie.has( container, 'notrans' ) ) {
						classie.remove( container, 'notrans' );
						return false;
					}

					if( isAnimating ) {
						return false;
					}
					
					if( scrollVal <= 0 && isRevealed ) {
						toggle(0);
					}
					else if( scrollVal > 0 && !isRevealed ){
						toggle(1);
					}
				}

				function toggle( reveal ) {
					isAnimating = true;
					
					if( reveal ) {
						classie.add( container, 'modify' );
					}
					else {
						noscroll = true;
						disable_scroll();
						classie.remove( container, 'modify' );
					}

					// simulating the end of the transition:
					setTimeout( function() {
						isRevealed = !isRevealed;
						isAnimating = false;
						if( reveal ) {
							noscroll = false;
							enable_scroll();
						}
					}, 600 );
				}

				// refreshing the page...
				var pageScroll = scrollY();
				noscroll = pageScroll === 0;
				
				disable_scroll();
				
				if( pageScroll ) {
					isRevealed = true;
					classie.add( container, 'notrans' );
					classie.add( container, 'modify' );
				}
				
				window.addEventListener( 'scroll', scrollPage );
				// trigger.addEventListener( 'click', function() { toggle( 'reveal' ); } );
			})();

			$(function() {
				var text = $('#article_content').text(),
					dateStr = $('#article_date').text().split(','),
					date = moment(dateStr).format("ddd, MMMM Do YYYY");

				$('.content > div').html(text);
				$('#date').append(date);

				// $('p.fr-tag').each(function(i) {
				// 	$(this).addClass('commentable-section').attr('data-section-id', i+1);
				// });

				// var SideComments = require('side-comments');
				// window.sideComments = new SideComments('#commentable-container', currentUser, existingComments);
				
				// window.sideComments.on('commentPosted', function( comment ) {
				// 	comment.id = parseInt(Math.random() * (100000 - 1) + 1);
				// 	sideComments.insertComment(comment);
				// });
				
				// window.sideComments.on('commentDeleted', function( comment ) {
				// 	sideComments.removeComment(comment.sectionId, comment.id);
				// });

				// Listen to "commentPosted", and send a request to your backend to save the comment.
				// More about this event in the "docs" section.
				// sideComments.on('commentPosted', function( comment ) {
				//     $.ajax({
				//         url: '/comments',
				//         type: 'POST'
				//         data: comment,
				//         success: function( savedComment ) {
				//             // Once the comment is saved, you can insert the comment into the comment stream with "insertComment(comment)".
				//             sideComments.insertComment(comment);
				//         }
				//     });
				// });
				 
				// // Listen to "commentDeleted" and send a request to your backend to delete the comment.
				// // More about this event in the "docs" section.
				// sideComments.on('commentDeleted', function( commentId ) {
				//     $.ajax({
				//         url: '/comments/' + commentId,
				//         type: 'DELETE',
				//         success: function( success ) {
				//             // Do something.
				//         }
				//     });
				// });
			});
		</script>
	</body>
</html>