<!DOCTYPE html>
<html lang='en'>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Lora:400,700,400italic' rel='stylesheet'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="HandheldFriendly" content="true" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
        <meta charset="utf-8">  
        <link rel="icon" type="image/png" href="http://media.empire.life/site/images/favicon.png">
        <title>{{ article.title }} - Empire</title>
        <meta name="description" content="A community-centric experience built to empower you. Inspire a vision. Rise to the challenge. Reign." />
        <meta name="author" content="ThreePillarMedia, LLC" />
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/rwd.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='plugins/froala/css/froala_content.min.css') }}" />

        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sc/release/side-comments.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sc/release/themes/default-theme.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sc/support/css/basics.css') }}" />
        <!-- share -->
        <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        <script>
            (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=345241442325838&version=v2.0";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
    </head>

    <body id="regular">
        <header id="article-header" style="background:linear-gradient(rgba(140, 140, 140, 0.3), rgba(0, 0, 0, 0.5)), url({{ article.headerIMG }}) no-repeat center;background-size:cover;">
            <!-- <nav>
                <p></p>
            </nav> -->

    		<div class="title">
	    		<h1>{{ article.title }}</h1>
	    		<p>{{ article.description }}</p>
	    	</div>
    	</header>

        <nav id="article-side-nav">
        	<div>
        		<p id="avatar" class="img-thumbnail img-circle" style="background:url({{ author.avatar }}) no-repeat center;background-size: cover;"></p>
        	</div>
        	
        	<ul>
        		<li>
        			<p>Written By</p>
        			<p><a href="{{ url_for('user.viewProfile', username=article['author']) }}">{{ author.fullname }}</a></p>
        		</li>

        		<li>
        			<p>Date</p>
        			<p id="article_date">{{ article.releaseDate }}</p>
        		</li>

        		<li>
        			<p>Category</p>
        			<p>{{ ', '.join(article.category) }}</p>
        		</li>

                <li>
                    <p>Tags</p>
                    <p><small>{{ ', '.join(article.tags) }}</small></p>
                </li>
        	</ul>
        </nav>

        <section id="article-main">
        	<div id="social_btns">
        		<p>Share</p>

                <ul id="share">
                    <li id="tw">
                        <span class="icon-twitter pull-left"></span>
                        <span>Twitter</span>
                    </li>
                    
                    <li id="pin">
                        <span class="icon-pinterest pull-left"></span>
                        <span>Pinterest</span>
                    </li>

                    <li id="gp">
                        <span class="icon-google-plus pull-left"></span>
                        <span>Google +</span>
                    </li>

                    <li id="fb">
                        <span class="icon-facebook pull-left"></span>
                        <span>Facebook</span>
                    </li>
                </ul>
                    
            	<a href="https://twitter.com/share" class="twitter-share-button" data-via="_thisisempire" data-hashtags="ThisIsEmpire">Tweet</a>
                
                <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a>

                <div class="g-plus" data-action="share" data-annotation="bubble" data-height="24"></div>

                <div class="fb-share-button" data-href="http://empire.life" data-layout="button_count"></div>
        	</div>

        	<article class="content">
				<div id="commentable-container" class="container commentable-container">{{ article.content }}</div>
            </article>
        </section>
        
        <!-- share buttons -->
        <div id="article-social-btm">
            
        </div>

        <!-- recommended content -->
        <section id="article-social-btm">
            <p>Recommended Articles</p>
        </section>

        <div id="fb-root"></div>
    </body>

    <script src="{{ url_for('static', filename='plugins/sc/release/side-comments.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/sc/support/test_data.js') }}"></script>

    <script>
    	$(function() {
		    var dateStr = $('#article_date').text().split(','),
				date = moment(dateStr).format("ddd, MMM Do YY"),
				text = $('#commentable-container').text();
			
			$('#article_date').empty().append(date);
			$('#commentable-container').empty().html(text);

            $('p.fr-tag').each(function(i) {
                $(this).addClass('commentable-section').attr('data-section-id', i+1);
            });

            var SideComments = require('side-comments');
            window.sideComments = new SideComments('#commentable-container', currentUser, existingComments);
            
            window.sideComments.on('commentPosted', function( comment ) {
             comment.id = parseInt(Math.random() * (100000 - 1) + 1);
             sideComments.insertComment(comment);
            });
            
            window.sideComments.on('commentDeleted', function( comment ) {
             sideComments.removeComment(comment.sectionId, comment.id);
            });

            // Listen to "commentPosted", and send a request to your backend to save the comment.
            // More about this event in the "docs" section.
            // sideComments.on('commentPosted', function( comment ) {
            //     $.ajax({
            //         url: '/comments',
            //         type: 'POST'
            //         data: comment,
            //         success: function( savedComment ) {
            //             // Once the comment is saved, you can insert the comment into the comment stream with "insertComment(comment)".
            //             sideComments.insertComment(comment);
            //         }
            //     });
            // });
                 
            // // Listen to "commentDeleted" and send a request to your backend to delete the comment.
            // // More about this event in the "docs" section.
            // sideComments.on('commentDeleted', function( commentId ) {
            //     $.ajax({
            //         url: '/comments/' + commentId,
            //         type: 'DELETE',
            //         success: function( success ) {
            //             // Do something.
            //         }
            //     });
            // });
		});
    </script>
</html>