<!DOCTYPE html>
<html lang='en'>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <meta name="HandheldFriendly" content="true">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta charset="utf-8">  
        <meta name="author" content="ThreePillarMedia, LLC" />
        <meta name="url" content="http://www.empire.life">
        <meta name="description" content="A community-centric experience built to empower you. Inspire a vision. Rise to the challenge. Reign." />
        <link rel="icon" type="image/png" href="http://media.empire.life/site/images/favicon.png">
        <title>{% block title %}{% endblock %} | Empire</title>
        <meta property="og:title" content="{% block title2 %}{% endblock %} | Empire"/>
        <meta property="og:site_name" content="Empire" />
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="http://media.empire.life/site/images/logo.png"/>
        <meta property="og:url" content="http://www.empire.life"/>
        <meta property="og:description" content="A community-centric experience built to empower you. Inspire a vision. Rise to the challenge. Reign."/>
        <meta property="og:locale" content="en_US" >
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@_thisisempire" />
        <meta name="twitter:title" content="Empire | Succes Starts Here" />
        <meta name="twitter:description" content="A community-centric experience built to empower you. Inspire a vision. Rise to the challenge. Reign." />
        <meta name="twitter:image" content="http://media.empire.life/site/images/logo.png" />
        <meta name="twitter:url" content="http://www.empire.life" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/search/css/component.css') }}" />
        {% block header %}{% endblock %}
    </head>

    <body id="content">
        <nav id="top-wrapper">
            <div class="text-center">
                <img width="50" src="http://media.empire.life/site/images/e-logo.png" />
            </div>

            {% if loggedIn %}
                <p class="pull-left font-bold text-u-c m-l">
                    <small>{{ username }}</small>
                </p>

                <p class="pull-left font-bold text-u-c m-l l-s">
                    <a href="{{ url_for('index') }}"><small>Dashboard</small></a>
                </p>
            {% else %}
                <p class="pull-left font-bold text-u-c m-l l-s" onclick="jQuery('#login_modal').modal('show');">
                    <small>Log In</small>
                </p>
            {% endif %}

            <p class="pull-left font-bold text-u-c m-l l-s">
                <small>Topics</small>
            </p>

            <p class="pull-left font-bold text-u-c m-l l-s">
                <small>Resources</small>
            </p>

            <p id="search" class="icon-search pull-right"></p>
        </nav>

        <nav class="articles_page cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2" hidden>
            <h3>
                <span class="icon icon-cross" id="close-btn" style="float: left;color: darkgray;cursor: pointer;line-height: 1.1;"></span>
                <!-- <span style="float:right;">Empire</span> -->
            </h3>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('content.cycle') }}">Current Cycle</a>
            <a style="border-bottom:none;">Categories</a>
            <ul id="cat_list">
                <li><a class="media-body block m-b-none"href="{{ url_for('content.beauty') }}">Current Events</a></li>
                <li><a class="media-body block m-b-none" href="{{ url_for('content.lifestyle') }}">Technology</a></li>
                <li><a class="media-body block m-b-none" href="{{ url_for('content.money') }}">Money</a></li>
                <li><a class="media-body block m-b-none" href="{{ url_for('content.career') }}">Career</a></li>
                <li><a class="media-body block m-b-none" href="{{ url_for('content.entertainment') }}">Culture + Entertainment</a></li>
                <li><a class="media-body block m-b-none" href="{{ url_for('content.wildcard') }}">Wildcard</a></li>
            </ul>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('terms') }}">Terms and Privacy</a>
            <a href="{{ url_for('contact') }}">Contact Us</a>
        </nav>
        
        <div class="container">
            <div id="morphsearch" class="morphsearch">
                <form class="morphsearch-form">
                    <input class="morphsearch-input" type="search" placeholder="Search..."/>
                    <button class="morphsearch-submit" type="submit">Search</button>
                </form>
                
                <div class="morphsearch-content">
                    
                    <div class="dummy-column">
                        <h2>Categories</h2>
                        <a class="dummy-media-object" href="{{ url_for('content.beauty') }}">
                            <h3>Beauty</h3>
                        </a>
                        <a class="dummy-media-object" href="{{ url_for('content.career') }}">
                            <h3>Career</h3>
                        </a>
                        <a class="dummy-media-object" href="{{ url_for('content.money') }}">
                            <h3>Money</h3>
                        </a>
                        <a class="dummy-media-object" href="{{ url_for('content.entertainment') }}">
                            <h3>Entertainment</h3>
                        </a>
                        <a class="dummy-media-object" href="{{ url_for('content.lifestyle') }}">
                            <h3>Lifestyle</h3>
                        </a>
                        <a class="dummy-media-object" href="{{ url_for('content.wildcard') }}">
                            <h3>Wildcard</h3>
                        </a>
                    </div>

                </div>
                
                <span class="morphsearch-close"></span>
            </div>

            <div class="overlay"></div>
        </div>

        {% block body %}{% endblock %}

        <script src="{{ url_for('static', filename='plugins/pushmenu/js/classie.js') }}"></script>
        <script>
            $(function() {
                $('.dropdown-toggle').dropdown();

                // dropdown menus
                $('.dropdown-toggle').click(function(e) {
                    var target = $(this).attr('dropdown-toggle');
                    $('.dropdown-menu').not('#'+target).hide();
                    
                    if ($('#'+target).is(':visible')) {
                        $('#'+target).hide();
                    }
                    else {
                        e.stopPropagation();
                        $('#'+target).show();
                    }
                });

                jQuery(document).ready(function($) {
                    $('.toggle-menu').jPushMenu();
                });

                // var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
                //     showRight = document.getElementById( 'menu-btn' ),
                //     closeRight = document.getElementById( 'close-btn' );
                
                // showRight.onclick = function() {
                //     classie.toggle( this, 'active' );
                //     classie.toggle( menuRight, 'cbp-spmenu-open' );
                //     // disableOther( 'showRight' );
                // };

                // closeRight.onclick = function() {
                //     // classie.toggle( this, 'active' );
                //     classie.toggle( menuRight, 'cbp-spmenu-open' );
                //     // disableOther( 'showRight' );
                // };
                // 
                $('#search').click(function() {
                    $('#morphsearch').addClass('open');
                    $('.morphsearch-form').show();
                });

                // $('span.morphsearch-close').click(function() {

                // });
            });

            (function() {
                var morphSearch = document.getElementById( 'morphsearch' ),
                    input = morphSearch.querySelector( 'input.morphsearch-input' ),
                    ctrlClose = morphSearch.querySelector( 'span.morphsearch-close' ),
                    isOpen = isAnimating = false,
                    // show/hide search area
                    toggleSearch = function(evt) {
                        // return if open and the input gets focused
                        if( evt.type.toLowerCase() === 'focus' && isOpen ) return false;

                        var offsets = morphsearch.getBoundingClientRect();
                        if( isOpen ) {
                            classie.remove( morphSearch, 'open' );

                            // trick to hide input text once the search overlay closes 
                            if( input.value !== '' ) {
                                setTimeout(function() {
                                    classie.add( morphSearch, 'hideInput' );
                                    setTimeout(function() {
                                        classie.remove( morphSearch, 'hideInput' );
                                        input.value = '';
                                    }, 300 );
                                }, 500);
                            }
                            
                            input.blur();
                        }
                        else {
                            classie.add( morphSearch, 'open' );
                        }
                        isOpen = !isOpen;
                    };

                // events
                input.addEventListener( 'focus', toggleSearch );
                ctrlClose.addEventListener( 'click', toggleSearch );
                // esc key closes search overlay
                // keyboard navigation events
                document.addEventListener( 'keydown', function( ev ) {
                    var keyCode = ev.keyCode || ev.which;
                    if( keyCode === 27 && isOpen ) {
                        toggleSearch(ev);
                    }
                } );


                /***** for demo purposes only: don't allow to submit the form *****/
                morphSearch.querySelector( 'button[type="submit"]' ).addEventListener( 'click', function(ev) { ev.preventDefault(); } );
            })();
        </script>
    </body> 
</html>


