{% extends "articles/base_articles_home.html" %}

{% block title %}
    Money
{% endblock %}


{% block title2 %}
    Money
{% endblock %}


{% block header %}{% endblock %}


{% block body %}
<header id='navbar_top'>
    <div style="background:url(http://media.empire.life/site/categories/money2.png), no-repeat; height: 200px;position:relative;background-size:cover;">
        <p id="section_title">Money</p>
    </div>

    <p id="menu-btn" class="pull-right toggle-menu menu-right" hidden><span class="icon-nav icon-menu"></span></p>

    <section id="subcategories" class="money" hidden>
        <ul>
            <a href="{{ url_for('content.money') }}"><li>View All</li></a>
            <a href="{{ url_for('content.sub_money', sub_category='spending') }}"><li>Spending</li></a>
            <a href="{{ url_for('content.sub_money', sub_category='investing') }}"><li>Investing</li></a>
            <a href="{{ url_for('content.sub_money', sub_category='saving') }}"><li>Saving</li></a>
        </ul>
    </section>
</header>

<main id="content_wrapper">
    <section id="articles_side" class="pull-left">
    {% if articles %}
    	{%- for i in articles %}

            {% if i.doctype == 'feature' %}
        	<figure class="article feature">
        		<p id="article_img" style="background:url({{ i.featureIMG }}) center;background-size: cover;"></p>

        		<figcaption>
        			<h2>{{ i.title }}</h2>
        			<p class="a-dscrpt">{{ i.description }}</p>
        			<p><em>by </em><span class="article_author"> {{ i.author }}</span></p>
                    
                    {% if sub == None %}
                    <a href="/money/{{ i.slug }}">View more</a>
                    {% else %}
                    <a href="/money/{{sub}}/{{ i.slug }}">View more</a>
                    {% endif %}
        		</figcaption>			
        	</figure>

            {% elif i.doctype == 'regular' %}
            <figure class="article regular">
                <p id="article_img" style="background:url({{ i.featureIMG }}) center;background-size: cover;"></p>

                <figcaption>
                    <h2>{{ i.title }}</h2>
                    <p class="a-dscrpt">{{ i.description }}</p>
                    <p><em>by </em><span class="a-author"> {{ i.author }}</span></p>
                    
                    {% if sub == None %}
                    <a href="/money/{{ i.slug }}">View more</a>
                    {% else %}
                    <a href="/money/{{sub}}/{{ i.slug }}">View more</a>
                    {% endif %}
                </figcaption>           
            </figure>
            {% endif %}

    	{% endfor -%}
    {% endif %}
    </section>

    <section id="" class="pull-right">
        
    </section>
</main>

{% endblock %}