{% extends "home/blank_page.html" %}
{% block content %}

<section id="info">
	<ul>
		{% if user.avatar %}
			<li><img id="avi" src="{{ user.avatar }}" alt="{{ user.fullname }}"/></li>
		{% endif %}

		{% if not user.avatar %}
			<li><img id="avi" src="http://media.empire.life/site/images/logo-blk.png" alt="Empire Logo Placeholder"/></li>
		{% endif %}
		
		<li id="name">{{ user.fullname }}</li>
		
		<li id="role">{{ user.role }}</li>

		<li>Entrepreneur, technologist, inventor. Founder of Primal.com and Official Community Corp. Internet technology and social media, particularly, What's Next?</li>
		
		{% if user.website %}
			<li class="social"><span class="icon-global"></span>{{ user.website }}</li>
		{% endif %}

		{% if user.facebook %}
			<li class="social"><span class="icon-facebook"></span>{{ user.facebook }}</li>
		{% endif %}

		{% if user.twitter %}
			<li class="social"><span class="icon-twitter"></span>{{ user.twitter }}</li>
		{% endif %}

		{% if user.tumblr %}
			<li class="social"><span class="icon-tumblr"></span>{{ user.tumblr }}</li>
		{% endif %}

		{% if user.pinterest %}
			<li class="social"><span class="icon-pinterest"></span>{{ user.pinterest }}</li>
		{% endif %}

		{% if user.instagram %}
			<li class="social"><span class="icon-instagram"></span>{{ user.instagram }}</li>
		{% endif %}

		{% if user.linkedin %}
			<li class="social"><span class="icon-linkedin"></span>{{ user.linkedin }}</li>
		{% endif %}
	</ul>
</section>

<!-- <main id="user_wrapper">
	
</main> -->

{% endblock %}