<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Empire</title>
    <meta name="description" content="Inspire, Rise, Reign" />
    <meta name="keywords" content="Empire, minority, empowerment, women, minority women, woman, black, black women, career, entertainment, media, magazine" />
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.png') }}">

    <meta name="author" content="ThreePillarMedia, LLC" />
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='plugins/hd/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/hd/css/flexslider.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static', filename='plugins/hd/css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/hd/css/queries.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/hd/css/animate.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheets/css/rwd.css') }}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
      </head>
      <body id="top">
        <header id="home">
          <nav>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                  <nav class="pull">
                    <ul class="top-nav">
                      <li><a href="#intro">Mission <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                      <!-- <li><a href="#features">Features <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li> -->
                      <li><a href="#responsive">In-Depth Look<span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                      <!-- <li><a href="#portfolio">Portfolio <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li> -->
                      <li><a href="#team">The Team <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                      <li><a href="#contact">Connect <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </nav>
          <section class="hero" id="hero">
            <div class="container">
              <div class="row">
                <div class="text-right navicon" style="float:right;">
                  <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
                </div>
                <div class="text-left navicon" style="float:left; font-size:2em;">
                  <a href="/"><i class="fa fa-chevron-left"></i></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner" style="background: rgba(0, 0, 0, 0.36);">
                  <h1 class="animated fadeInDown" style="color: white;text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.45);">EMPIRE</h1>
                  <p class="animated fadeInUp delay-05s" style="color: white;text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.45);letter-spacing:0.5px;">A community-centric experience built to empower you. <br/>Inspire a vision. Rise to the challenge. Reign.</p>
                </div>
              </div>
              
            </div>
          </section>
        </header>
        <section class="intro text-center section-padding" id="intro">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 wp1">
                <h1 class="arrow">Our Mission</h1>
				<p>To inspire a world where women of all backgrounds have equal access to the opportunities and resources that will help them excel personally and professionally.</p>
                <!--<p>Empire represents a pipeline of ladies who are inspired to thrive. A community of femmes who are rising into their womanhood. A diverse queendom built to reign over all parts of their lives.</p>-->
			  </div>
            </div>
          </div>
        </section>

        <section class="features text-center section-padding" id="features">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow" id="threepillars">The Three Pillars</h1>
                <div class="features-wrapper">
                  <div class="col-md-4 wp2">
                    <div class="icon">
                      <i class="fa fa-lightbulb-o shadow"></i>
                    </div>
                    <h2>Inspire</h2>
                    <p><span style="font-style:italic;">Inspire a vision.</span> Empire shares stories that inspire young women looking for the right path in life and answers the questions they have yet to ask.</p>
                  </div>
                  <div class="col-md-4 wp2 delay-05s">
                    <div class="icon">
                      <i class="fa fa-fire shadow"></i>
                    </div>
                    <h2>Rise</h2>
                    <p><span style="font-style:italic;">Rise to the challenge.</span> As young women go about embracing their calling in life, Empire is here to teach and support them. </p>
                  </div>
                  <div class="col-md-4 wp2 delay-1s">
                    <div class="icon">
                      <i class="fa fa-trophy shadow"></i>
                    </div>
                    <h2>Reign</h2>
                    <p><span style="font-style:italic;">Reign.</span> Empire celebrates the achievements of young minority women and invites them to share their stories with the Empire community.</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="swag text-center">
          <div class="container">
            <div class="row">
              <div class="">
                <h1>It’s the three pillars that hooked me – Inspire, Rise, Reign. The feeling that everyone gets a seat at the table…I think the abundance and authority that exudes from Empire would benefit many women.</h1>
                <p>- Alexandria Bobbitt, Student at Northwestern University</p>
                <a href="#threepillars" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
              </div>
            </div>
          </div>
        </section>

        <section class="text-center section-padding" id="responsive">
          <div class="container-fluid nopadding responsive-services">
            <div class="wrapper">
              <h1 class="arrow">An In-Depth Look</h1>

              <div class="iphone">
                <div class="wp3"></div>
              </div>
              <div class="fluid-white"></div>
            </div>
            <div class="container designs">
              <div class="row">
                <div class="col-md-5 col-md-offset-7">
                  <div id="servicesSlider">
                    <ul class="slides">
                      <li>
                        <p>Empire is a virtual and in-person experience with the purpose of enabling millennial minority women to have the knowledge, resources, and community they need to live their best lives.</p>
                        <p>Empire’s web-site functions as the hub of information and communication: using three focus pillars (Inspire, Rise, and Reign), users will be connected to in-depth content curated by prominent and established female leaders, young up-and-comers, and community members working to build their own path.</p>
                      </li>
                      <li>
                        <!-- <h1 class="arrow">Bootstrap Professionals</h1> -->
                        <p>In tandem to the site, users will also be keyed in to national meetups and exclusive events, culminating in a celebratory Summit at the end of the year. The Summit will commemorate the achievements of Empire and its community: the Empire Awards, hack-a-thons, one-on-ones with corporate sponsors, and a concert are a few examples of the elements that will be built into Empire’s annual Summit.</p>
                      </li>
                      <li>
                        <!-- <h1 class="arrow">Bootstrap Professionals</h1> -->
                        <p>Besides being the first site focused on the careerist millennial woman, Empire will also innovate in the digital space by form and function. The timing of the site operates on “cycles”, which are periods of time in which content focused on one overarching theme is constantly available. Conversation will be supported by a built-in comment system, allowing users to engage within any and all parts of the content that is posted. As the site grows, Empire will evolve to learn each user’s unique interests, and cater their version of the site – in addition to the upcoming mobile application – to their unique searches.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
		<!--
        <section class="portfolio text-center section-padding" id="portfolio">
          <div class="container">
            <div class="row">
              <div id="portfolioSlider">
                <ul class="slides">
                  <li>
                    <div class="col-md-4 wp4">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/portfolio-01.jpg" alt="Portfolio Item">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Minds</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-05s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/portfolio-02.jpg" alt="Portfolio Item">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Hearts</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-1s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/portfolio-03.jpg" alt="Portfolio Item">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Ideas</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                  </li>
                  <li>
                    <div class="col-md-4 wp4">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/portfolio-01.jpg" alt="Portfolio Item">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Minds</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-05s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/portfolio-02.jpg" alt="Portfolio Item">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Hearts</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-1s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/portfolio-03.jpg" alt="Portfolio Item">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Ideas</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>-->
        <div class="ignite-cta text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="ignite-btn">
                  <p>I like the seeds that are being planted and nurtured here. Please, continue with vigil and fervency [because many will try to tear you down]...We can rest a while, yet we can never quit on a good thing.</p>
                  <p style="text-align:left; float: left;">- Caleb Green</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="team text-center section-padding" id="team">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">The Team</h1>
              </div>
            </div>
            <div class="row">
              <div class="team-wrapper">
                <div id="teamSlider">
                  <ul style="margin: 0;padding: 0;list-style: none;">
                    <li>
                      <div class="col-md-3 wp5">
                        <img width="200" src="{{ url_for('static', filename='images/frontpage/becca.jpg') }}" alt="Team Member">
                        <h2>Rebecca Abara</h2>
                        <p>Entrepreneurship has always come naturally to Rebecca. From the day she owned her first goodies-shop with snacks that her children’s church kids could purchase for good behavior, she’s run through life with a knack for using business to solve social issues.  Rebecca carries with her incredible leadership experience, from running her own not-for-profit to creating a marketing campaign with a massive reach of 14,000, 150% larger than her target audience. Her ability to envision the future, find and connect to people’s innate skills, and activate those skills around a cause enables her to lay down a path for success in Empire and make success a reality.</p>
                        <div class="social">
                          <ul class="social-buttons">
                            <li><a href="https://www.facebook.com/rona.abara?fref=ts" target="_blank"  class="social-btn"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/callmecharizma" target="_blank"  class="social-btn"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://instagram.com/callmecharizma" target="_blank"  class="social-btn"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="mailto:rebecca@empire.life" target="_blank"  class="social-btn"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      
                      <div class="col-md-3 wp5 delay-05s">
                        <img width="200" src="{{ url_for('static', filename='images/frontpage/amanda.jpg') }}" alt="Team Member">
                        <h2>Amanda Anumba</h2>
                        <p>Amanda is able to see a beauty in the world that not many others can find. Her creativity spawned from an early age when she taught herself to code in HTML and began designing layouts for her Myspace profile. The continued expansion of technology and computer programming has equipped her with the tools she needs to create stunning user interfaces and web applications. Amanda’s ability to marry her creative mind with technological innovation, as well as her tenacity and drive for incredible work, qualifies her to be the front-man on building the face of Empire’s innovations.</p>
                        <div class="social">
                          <ul class="social-buttons">
                            <li><a href="https://twitter.com/__uhMANduh" target="_blank"  class="social-btn"><i class="fa fa-twitter"></i></a></li>
							              <li><a href="https://www.pinterest.com/Reptawr/" target="_blank" class="social-btn"><i class="fa fa-pinterest"></i></a></li>
							              <li><a href="http://www.linkedin.com/in/amandaanumba" target="_blank" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="mailto:amanda@empire.life" target="_blank"  class="social-btn"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-md-3 wp5 delay-1s">
                        <img width="200" src="{{ url_for('static', filename='images/frontpage/omeko.jpg') }}" alt="Team Member">
                        <h2>Omeko Eromosele</h2>
                        <p>The day will never come when Omeko is not giving to others. Whether it be food, nurture, a helping hand, or her last dollar, Omeko has never shied away from making sure those around her are cared and given the support they need. It is this desire to care for others and help them grow personally and professionally that has motivated her career aspirations, and makes her the perfect candidate to support Empire’s HR and management needs.</p>
                        <div class="social">
                          <ul class="social-buttons">
                            <li><a href="https://www.facebook.com/omeko.eromosele" target="_blank"  class="social-btn"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="http://instagram.com/naijaloveguru" target="_blank"  class="social-btn"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="mailto:omeko@empire.life" target="_blank"  class="social-btn"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-md-3 wp5 delay-15s">
                        <img width="200" src="{{ url_for('static', filename='images/frontpage/tay.jpg') }}" alt="Team Member">
                        <h2>Shantavia&Eacute; Wynn</h2>
                        <p>Shantaviaé is a natural-born operations manager. Growing up, she learned how to persevere through dysfunction and overcome her obstacles to attain her goals. She translates her background and her experiences into guiding principles when she approaches her academic and career development. Her dedication to enabling success through efficiency and timeliness allows her to be an effective operations manager, and her inclination towards technology gives Empire innovation a supportive arm. She aspires to be in a position to help others achieve their own dreams. </p>
                        <div class="social">
                          <ul class="social-buttons">
                            <li><a href="https://www.facebook.com/ShanTayTay?fref=ts" target="_blank"  class="social-btn"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="http://shantaviae.tumblr.com/" target="_blank" class="social-btn"><i class="fa fa-tumblr"></i></a></li>
							              <li><a href="http://www.linkedin.com/pub/shantaviae-wynn/50/a31/625" target="_blank"  class="social-btn"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="mailto:shantaviae@empire.life" target="_blank"  class="social-btn"><i class="fa fa-envelope"></i></a></li>
							
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="subscribe text-center">
          <!--<div class="container">
            <h1><i class="fa fa-paper-plane"></i><span>Subscribe to stay in the loop</span></h1>
            <form action="#">
              <input type="text" name="" value="" placeholder="" required>
              <input type="submit" name="" value="Send">
            </form>
          </div>-->
		  <div class="container" id="contact">
            <div class="row">
              <div class="col-md-12">
                <h1>Stay Connected with Us</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="social-buttons">
                  <li><a href="mailto:hello@empire.life" target="_top" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  <li><a href="https://www.facebook.com/InspireRiseReign" target="_blank" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/_thisisempire" target="_blank" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="http://thisisempire.tumblr.com" target="_blank" class="social-btn"><i class="fa fa-tumblr"></i></a></li>
                  <li><a href="http://www.instagram.com/thisisempire" target="_blank" class="social-btn"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="http://www.pinterest.com/thisisempire/" target="_blank" class="social-btn"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
		  
        </section>
       <!-- <section class="dark-bg text-center section-padding contact-wrap" id="contact">
          <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
        </section>-->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <ul class="legals">
                  <li>© 2015 ThreePillarMedia, LLC</li>
                  <li><a href="{{ url_for('terms') }}">Terms &amp; Conditions</a></li>
                  <li><a href="{{ url_for('privacy') }}">Privacy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ url_for('static', filename='plugins/hd/js/waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/hd/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/hd/js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/hd/js/jquery.flexslider.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/hd/js/modernizr.js') }}"></script>

        <style>

        </style>
      </body>
    </html>