{% extends "base_admin.html" %}
{% block content %}

<!-- main content -->
<main id="review_wrapper">
	
	<div class="col-md-7">
		<header>My Articles</header>
		<div class="list-group list-group-lg list-group-sp slim-lg" style="max-height: 500px; overflow-y: scroll;">
			{% if articles %}
				{%- for i in articles %}
				<a href="/dashboard/r/{{ i['objectId'].encode('utf-8') }}" class="list-group-item clearfix">
					<span class="pull-left thumb-sm avatar m-r text-success">
						<span class="icon icon-eye"></span>
					</span>

					<span class="clear">
						<span>{{ i['title'] }}</span>
						<small class="text-muted clear text-ellipsis">by {{ i['author'] }}</small>
						<small class="pull-right text-muted clear text-ellipsis releasedate">{{ i['releaseDate'] }}</small>
					</span>
				</a>
				{% endfor -%}
			{% endif %}
		</div>
	</div>

</main>

<script>
	$('.tab#mine').addClass('active');
	$('.icon-reply').hide();
	$( ".draft_item" ).hover(
		function() {
			$(this).find('.icon-reply').show();
		}, 
		function() {
			$(this).find('.icon-reply').hide();
		}
	);
	$('.releasedate').each(function() {
		var text = $(this).text(),
			date = moment(text.split(',')).fromNow();
		console.log(text.split(','));
		$(this).empty().append(date);
	});


</script>
{% endblock %}