{% extends "base_admin.html" %}
{% block content %}

<!-- main content -->
<main id="content_wrapper">
	<!-- <section class="panel panel-default text-center" style="width: 550px;margin: 0 auto;margin-bottom: 25px;">
		<div class="panel-body">
			<button type="button" class="close panel-close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>

			<h3 style="margin-bottom:10px; color:indianred;">Message from the System Admin </h3>
			
			<section>
				<p><small>Hey guys! My apologies for the errors that have been popping up. There's a problem with the web server that I'm currently trying to resolve. Hopefully, I'll have everything running smoothly before the end of this week. Happy Writing!</small></p>
				<p style="text-align:left;"><small> - Amanda</small></p>

			</section>
		</div>
	</section> -->

	<div class="col-md-3">
		<h1 class="padder" style="font-weight:300; font-size:1.1em; text-transform:uppercase;letter-spacing: 2px;text-align: center;">This Cycle</h1>
		<section class="col-sm-5 text-center">
			<div class="panel padder-v item" style="overflow-y:hidden;">
				<span class="h1 text-info font-thin block">{{ myArticles }}</span>	
				<span class="text-muted text-xs">Articles I've written</span>
			</div>
		</section>

		<section class="col-sm-4 text-center">
			<div class="panel padder-v bg-primary item" style="overflow-y:hidden;">
				<span class="text-white font-thin h1 block">{{ totalArticles }}</span>
				<span class="text-muted text-xs">Total articles</span>
			</div>
		</section>

		<section class="col-sm-11">
			<div class="xe-widget xe-todo-list"> 
				<div class="xe-header"> 
					<div class="xe-icon pull-left">
						<span class="icon icon-paper"></span>
					</div>
					
					<div class="xe-label"> 
						<span>to do list</span> 
						<strong>Tasks</strong> 
					</div> 
					
				</div> 

				<div class="xe-body"> 
					<ul class="list-unstyled"> 
						<li class="done"> 
							<label>
								<div class="cbr-replaced cbr-checked">
									<div class="cbr-input"><input type="checkbox" class="cbr cbr-done" checked=""></div>
									<div class="cbr-state"><span></span></div>
								</div> 
								<span>feature coming soon</span> 
							</label> 
						</li> 
						<li> 
							<label> 
								<div class="cbr-replaced">
									<div class="cbr-input"><input type="checkbox" class="cbr cbr-done"></div>
									<div class="cbr-state"><span></span></div>
								</div> 
								<span>this is what the to do list will look like</span> 
							</label> 
						</li> 
					</ul> 
				</div> 
				
				<div class="xe-footer"> 
					<input type="text" class="form-control" placeholder="feature coming soon"> 
				</div> 
			</div>
		</section>
	</div>
    
    <div class="col-md-4 text-center">
	    <div class="col-xs-11">
			<section class="panel panel-default">
				<div class="panel-heading">For Review</div>
				<div class="panel-body slim">
					<ul class="list-group alt">
						{% if articles %}
							{%- for i in articles %}
								<!-- {% if i.status == 'ready' %} -->
								<li class="list-group-item">
									<div class="media">
										<div class="pull-right text-info m-t-sm">
						                	<span class="icon-eye"></span>
						                </div>
										<div class="media-body">
											<div><a href="/dashboard/r/{{ i['objectId'].encode('utf-8') }}">{{ i['title'].encode('utf-8') }}</a></div>
											<small class="text-muted">{{ i['author'].encode('utf-8') }}</small>
										</div>
									</div>
								</li>
								<!-- {% endif %} -->

							{% endfor -%}
						{% endif %}
			        </ul>
				</div>
			</section>
		</div>

	    <div class="col-xs-11">
			<section class="panel panel-default">
				<div class="panel-heading">My Drafts</div>
				<div class="panel-body slim">
					{% if count == 0 %}
					<div class="text-center">
						<p style="font-size: 2em;"><span class="icon icon-loader text-success"></span></p>
						<p>All good here!</p>
					</div>
					{% else %}
						{% if drafts %}
						<ul class="list-group alt">
							{%- for x in drafts %}
									<li class="list-group-item">
										<div class="media">
											<div class="media-body">
												<div><a href="/dashboard/r/{{ x['objectId'].encode('utf-8') }}">{{ x['title'].encode('utf-8') }}</a></div>
												<small class="text-muted">{{ x['author'].encode('utf-8') }}</small>
											</div>
										</div>
									</li>
							{% endfor -%}
						</ul>
						{% endif %}
					{% endif %}
				</div>
			</section>
		</div>
	</div>
	
	<div class="col-md-4 text-center"> 
		<div class="col-sm-11">
			<section class="panel panel-default slim" data-toggle="tooltip" data-placement="left" title="these articles have already been proofread">
				<div class="panel-heading">Articles Being Published</div>
				<div class="panel-body">
					<ul class="list-group alt">
						{% if published %}
							{%- for y in published %}
									<li class="list-group-item">
										<div class="media">
											<div class="pull-right text-success m-t-sm">
							                	<span class="icon-check"></span>
							                </div>
											<div class="media-body">
												<div><a href="/dashboard/r/{{ y['objectId'].encode('utf-8') }}">{{ y['title'].encode('utf-8') }}</a></div>
												<small class="text-muted">{{ y['author'].encode('utf-8') }}</small>
											</div>
										</div>
									</li>
							{% endfor -%}
						{% endif %}
			        </ul>
				</div>
			</section>
		</div>
	</div>

</main>

<div class="clearfix"></div>

<script>
	$(function() {
		$('.panel').tooltip();
	});
</script>
{% endblock %}