{% extends "base_admin.html" %}
{% block content %}

<!-- main content -->
<main id="review_wrapper">
	
	<div class="col-md-7">
		<header>Articles to be reviewed</header>
		<div class="list-group list-group-lg list-group-sp slim-lg" style="max-height: 500px; overflow-y: scroll;">
			{% if articles %}
				{%- for i in articles %}
				<a href="/dashboard/r/{{ i['objectId'].encode('utf-8') }}" class="list-group-item clearfix">
					<span class="pull-left thumb-sm avatar m-r m-t-sm text-info">
						<span class="icon icon-record"></span>
					</span>

					<span class="clear">
						<span>{{ i['title'] }}</span>
						<small class="text-muted clear text-ellipsis">by {{ i['author'] }}</small>
						<small class="pull-right text-muted clear text-ellipsis releasedate">{{ i['releaseDate'] }}</small>
					</span>
				</a>
				{% endfor -%}
			{% endif %}
		</div>
	</div>

    <div class="col-md-4">
		<header>Continue with a draft</header>
		<div class="xe-widget xe-todo-list"> 
			<div class="xe-header"> 
				<div class="xe-icon pull-left">
					<span class="icon icon-paper"></span>
				</div>
				
				<div class="xe-label">
					<strong>Drafts</strong> 
				</div> 
			</div> 

			<div class="xe-body"> 
				{% if count == 0 %}
					<div class="text-center">
						<p style="font-size: 2em;"><span class="icon icon-loader text-success"></span></p>
						<p>All good here!</p>
					</div>
				{% else %}
					{% if drafts %}
					<ul class="list-unstyled">
						{%- for x in drafts %}
						<li class="draft_item"> 
							<a href="/dashboard/r/{{ x[1].objectId }}" class="draft_link">{{ x[0] }}.
								<span class="title">{{ x[1].title }}</span> 
							</a>
						</li> 
						{% endfor -%}
					{% endif %}
				{% endif %}
				</ul> 
			</div>
		</div>
	</div>
</main>

<script>
	$('.tab#review').addClass('active');
	$('.releasedate').each(function() {
		var text = $(this).text();

		if (text == "") {
			$(this).empty().append('No date found');
		}

		else {
			var date = moment(text.split(',')).fromNow(); 
			// console.log(text.split(','));
			$(this).empty().append('Release Date: '+date);
		}
	});
</script>
{% endblock %}