<!DOCTYPE html>
<html lang='en'>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta charset="utf-8">  
        <title>Empire</title>
        <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.png') }}">
        <meta name="description" content="Inspire, Rise, Reign" />
        <meta name="keywords" content="Empire, minority, empowerment, women, minority women, woman, black, black women, career, entertainment, media, magazine" />
        <meta name="author" content="ThreePillarMedia, LLC" />
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/admin.css') }}" />
        <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
    </head>
    
    <body class='bkg-img'>
        <section id='login'>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Empire logo" width="320px;" />

            {% macro render_field(field, placeholder=None) %}
                {% if field.errors %}
                <div>
                {% elif field.flags.error %}
                <div>
                {% else %}
                <div>
                {% endif %}
                    {% set css_class = 'form-input' + kwargs.pop('class', '') %}
                    {{ field(class=css_class, required=true, placeholder=placeholder, **kwargs) }}
                </div>
            {% endmacro %}


            <div id="login_error" class="alert error" hidden>
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p id="message"></p>
            </div>

            <div id="reg_error" class="alert error" hidden>
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p id="message"></p>
            </div>

            <div id="reg_success" class="alert success" hidden>
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p id="message"></p>
            </div>

            <div id="forgot_error" class="alert" hidden>
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p id="message"></p>
            </div>

            <!-- login form -->
            <div id='login-form' class='form'>
                <form action="{{ url_for('login') }}" method="POST" accept-charset="UTF-8">
                    {{ login_form.csrf_token }}
                    {{ render_field(login_form.username, placeholder="Username") }}
                    {{ render_field(login_form.password, placeholder="Password") }}
                    <p onclick="login();" class='btn' value='Login' style="float:right;">Login</p>
                </form>
                <div class="clearfix divider"></div>
                <section class="additional-info">
                    <p class="text-right">
                        <span class='btn-toggle' data-toggle='forgot-form'>Forgot your password?</span>
                        <span> | </span>
                        <span class='btn-toggle' data-toggle='register-form'>Sign up</span>
                    </p>
                </section>
            </div>

            <!-- forgot form -->
            <div id='forgot-form' class='form' style="display: none;">
                <form action="{{ url_for('forgot') }}" method="POST" accept-charset="UTF-8">
                    <p class="description">Enter your email address below and a link to reset your password will be sent to you</p>
                    {{ render_field(reset.email, placeholder="Email Address") }}
                    <p onclick="forgotPass();" class='btn' value='forgot' style="float:right;">Send Email</p>
                </form>
                <div class="clearfix divider"></div>
                <section class="additional-info">
                    <p class="text-right">
                        <span class='btn-toggle' data-toggle='login-form'>Log in</span>
                        <span> | </span>
                        <span class='btn-toggle' data-toggle='register-form'>Sign up</span>
                    </p>
                </section>
            </div>

            <!-- register form -->
            <div id='register-form' class='form' style="display: none;">
                <form action="{{ url_for('register') }}" method="POST" accept-charset="UTF-8">
                    <input type="text" class="form-input" placeholder="Username" help-text="us_help" id="username" name="username">
                    <p class="help-block" id="us_help"><small>Must be at least 4 characters long and contain no spaces</small></p>
                    
                    <input type="email" class="form-input" placeholder="Email Address" id="email" name="email">

                    <input type="password" class="form-input" placeholder="Password" help-text="pw_help" id="password" name="password">
                    <!-- <p class="help-block" id="pw_help"><small>Must be at least 6 characters long and contain both numbers and letters</small></p> -->

                    <input type="password" class="form-input" placeholder="Confirm Password" id="confirm" name="confirm">

                    <div id="tt_pw" class="tooltip2 fade right" style="top: 158px; right: -126px; display: block;">
                        <div class="tooltip2-arrow"></div>
                        <div class="tooltip2-inner">Passwords must match</div>
                    </div>
                    <div id="tt_pw2" class="tooltip2 fade right" style="top: 119px; right: -202px; display: block;">
                        <div class="tooltip2-arrow"></div>
                        <div class="tooltip2-inner"></div>
                    </div>
                    <div id="tt_em1" class="tooltip2 fade right" style="top: 71px; right: -174px; display: block;">
                        <div class="tooltip2-arrow"></div>
                        <div class="tooltip2-inner">This email address is already in use</div>
                    </div>
                    <div id="tt_em2" class="tooltip2 fade right" style="top: 71px; right: -177px; display: block;">
                        <div class="tooltip2-arrow"></div>
                        <div class="tooltip2-inner">Please enter a valid email address</div>
                    </div>
                    <div id="tt_us" class="tooltip2 fade right" style="top: 16px; right: -154px; display: block;">
                        <div class="tooltip2-arrow"></div>
                        <div class="tooltip2-inner">This username already exists</div>
                    </div>

                    <p onclick="register();" class='btn' value='Register' style="float:right;">Sign Up</p>
                </form>
                <div class="alert success" style="display:none;">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <span class="icon-thumbsup alert-icon"></span>You have successfully signed up. Please check your email and follow the link to verify your account.
                </div>
                <div class="clearfix divider"></div>
                <section class="additional-info">
                    <p class="text-right">
                        <!-- <span id="forgot" style="display:none;">Check your email to verify your account</span>
                        <span> | </span> -->
                        <span class='btn-toggle' data-toggle='login-form'>Log in</span>
                    </p>
                </section>
            </div>

            <!-- loading animation -->
            <div id="loader" hidden> 
                <img src="{{ url_for('static', filename='images/svg/tail-spin.svg') }}" width="50" alt="loading animation">
            </div>
        </section>
    </body>
</html>