<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>{{ article.title }} - Empire</title>
		<meta name="description" content="Inspire, Rise, Reign" />
        <meta name="keywords" content="Empire, minority, empowerment, women, minority women, woman, black, black women, career, entertainment, media, magazine" />
        <meta name="author" content="ThreePillarMedia, LLC" />
		<link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.png') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/intro/css/normalize.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/intro/css/demo.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/intro/css/component.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/icons.css') }}" />
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54b74dc434356003" async="async"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/pushmenu/css/component.css') }}" />
		<link href="{{ url_for('static', filename='stylesheets/css/rwd.css') }}" rel="stylesheet">
		

		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sc/release/themes/default-theme.css') }}" /> -->
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sc/support/css/basics.css') }}" /> -->
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	
	<body id="regular_article">
		<nav id='navbar_top'>
            <ul id="center_menu">
                
                <li class="tab"><a href="{{ url_for('index') }}">Home </a></li>
               
                <li class="dropdown">
                    <div class="dropdown-toggle" dropdown-toggle="categories" style="cursor: pointer;">Categories <span class="icon-arrow-down"></span></div>
                    <div class="dropdown-menu w-sm animated fadeInUp" id="categories">
                        <div class="panel bg-white">
                            <div class="list-group">
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('news') }}">Current Events</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('tech') }}">Technology</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('money') }}">Money</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('career') }}">Career</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('mindbody') }}">Mind, Body, and Spirit</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('culture') }}">Culture + Entertainment</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('wildcard') }}">Wildcard</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- <a href="">
                    <li class="tab">Filters</li>
                </a> -->

                <li class="tab"><a href="{{ url_for('cycle') }}">Cycle #1</a></li> 
                
            </ul>
            <img src="{{ url_for('static', filename='images/logo-blk.png') }}" width="100px">
            <p id="menu-btn" class="pull-right" hidden><span class="icon-nav icon-menu"></span></p>
        </nav>

		<p id="id" hidden>{{ article['objectId'] }}</p>
		
		<div id="container" class="container">
			<header class="header">
				<div class="header-img" style="background:url({{ article.headerIMG }}) no-repeat center;">
					<!-- <img src="" alt="Header Image" /> -->
				</div>

				<div class="regular">
					<h1 style="text-align: center;">{{ article.title }}</h1>
					<p class="subline">{{ article.description }}</p>
					<p>by <strong>{{ article.author }}</strong> &#8212; Posted in <strong>{{ article.category }}</strong> on <strong id="date"></strong></p>
				</div>
			</header>

			<nav class="articles_page cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
                <h3>
                    <span class="icon icon-cross" id="close-btn" style="float: left;color: darkgray;cursor: pointer;line-height: 1.1;"></span>
                    <!-- <span style="float:right;">Empire</span> -->
                </h3>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('cycle') }}">Current Cycle</a>
                <a href="" style="border-bottom:none;">Categories</a>
                <ul id="cat_list">
                    <li><a class="media-body block m-b-none"href="{{ url_for('news') }}">Current Events</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('tech') }}">Technology</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('money') }}">Money</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('career') }}">Career</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('mindbody') }}">Mind, Body, and Spirit</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('culture') }}">Culture + Entertainment</a></li>
                    <li><a class="media-body block m-b-none" href="{{ url_for('wildcard') }}">Wildcard</a></li>
                </ul>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('terms') }}">Terms and Privacy</a>
                <a href="{{ url_for('contact') }}">Contact Us</a>

                <!-- <div id="footer"> 
                    <p>© 2015 ThreePillarMedia, LLC</p>
                </div>-->
            </nav>


			<article class="content">
				<div id="commentable-container" class="container commentable-container"></div>
			</article>			

			<section id="beta_msg" style="text-align: center;margin: 0 15%;padding-bottom: 40px;">
				<hr>

				<h3>How'd you like this article?</h3>
				<div>
					<span onclick="rate('likes');" class="icon smilie icon-smile-o" style="color:#6dd7a5;"></span>
					<span onclick="rate('meh');" class="icon smilie icon-meh-o" style="color:#ffbc41;"></span>
					<span onclick="rate('dislikes');" class="icon smilie icon-frown-o" style="color:indianred;"></span>
					<p id="message" hidden><small>Your response has been recorded. Thank you!</small></p>
				</div>
				<p>When we roll out the full-site, you will be able to:</p>
				<ul id="list_stuff">
					<li>create an account and log in</li>
					<li>comment on article <a href="https://medium.com/about/why-medium-notes-are-different-and-how-to-use-them-well-5972c72b18f2" target="_blank">Medium.com style</a></li>
					<li>contribute your own thoughts to an article</li>
					<li>start a dialog with the Empire community</li>
					<li>bookmark and favorite an article</li>
					<li>... and more!</li>
				</ul>
				<p>Is there something particular you would like to see? Suggest a feature through our <a href="{{ url_for('contact') }}">contact form</a>.</p>
			</section>
		</div>
		
		<div id="article_content" hidden>{{ article.content }}</div>
		<div id="article_date" hidden>{{ article.releaseDate }}</div>
		
		<script src="{{ url_for('static', filename='plugins/intro/js/classie.js') }}"></script>
		<style>
	        .header-img {
	            width: 80%; 
	            height:250px;
	            margin: 4% auto;
	        }

	        .smilie {
	            cursor:pointer; 
	            font-size:4em; 
	            padding:0 8px;
	        }

	        #list_stuff {
	            text-align: left;
	            margin-left: 20%;
	            font-size: 0.8em;
	        }

	        #menu-btn {
				position: absolute;
				width: 100%;
				text-align: right;
				right: 35px;
				color: white;
				font-size: 2.5em;
				top: 12px;
				cursor: pointer;
			}
	    </style>
		<!-- <script src="{{ url_for('static', filename='plugins/sc/release/side-comments.js') }}"></script>
		<script src="{{ url_for('static', filename='plugins/sc/support/js/jquery.js') }}"></script>
		 <script src="{{ url_for('static', filename='plugins/sc/support/test_data.js') }}"></script> -->
		
		<script>
			// (function() {

			// 	// detect if IE : from http://stackoverflow.com/a/16657946		
			// 	var ie = (function(){
			// 		var undef,rv = -1; // Return value assumes failure.
			// 		var ua = window.navigator.userAgent;
			// 		var msie = ua.indexOf('MSIE ');
			// 		var trident = ua.indexOf('Trident/');

			// 		if (msie > 0) {
			// 			// IE 10 or older => return version number
			// 			rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
			// 		} else if (trident > 0) {
			// 			// IE 11 (or newer) => return version number
			// 			var rvNum = ua.indexOf('rv:');
			// 			rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
			// 		}

			// 		return ((rv > -1) ? rv : undef);
			// 	}());


			// 	// disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179					
			// 	// left: 37, up: 38, right: 39, down: 40,
			// 	// spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
			// 	var keys = [32, 37, 38, 39, 40], wheelIter = 0;

			// 	function preventDefault(e) {
			// 		e = e || window.event;
			// 		if (e.preventDefault)
			// 		e.preventDefault();
			// 		e.returnValue = false;  
			// 	}

			// 	function keydown(e) {
			// 		for (var i = keys.length; i--;) {
			// 			if (e.keyCode === keys[i]) {
			// 				preventDefault(e);
			// 				return;
			// 			}
			// 		}
			// 	}

			// 	function touchmove(e) {
			// 		preventDefault(e);
			// 	}

			// 	function wheel(e) {
			// 		// for IE 
			// 		//if( ie ) {
			// 			//preventDefault(e);
			// 		//}
			// 	}

			// 	function disable_scroll() {
			// 		window.onmousewheel = document.onmousewheel = wheel;
			// 		document.onkeydown = keydown;
			// 		document.body.ontouchmove = touchmove;
			// 	}

			// 	function enable_scroll() {
			// 		window.onmousewheel = document.onmousewheel = document.onkeydown = document.body.ontouchmove = null;  
			// 	}

			// 	var docElem = window.document.documentElement,
			// 		scrollVal,
			// 		isRevealed, 
			// 		noscroll, 
			// 		isAnimating,
			// 		container = document.getElementById( 'container' ),
			// 		trigger = container.querySelector( 'button.trigger' );

			// 	function scrollY() {
			// 		return window.pageYOffset || docElem.scrollTop;
			// 	}
				
			// 	function scrollPage() {
			// 		scrollVal = scrollY();
					
			// 		if( noscroll && !ie ) {
			// 			if( scrollVal < 0 ) return false;
			// 			// keep it that way
			// 			window.scrollTo( 0, 0 );
			// 		}

			// 		if( classie.has( container, 'notrans' ) ) {
			// 			classie.remove( container, 'notrans' );
			// 			return false;
			// 		}

			// 		if( isAnimating ) {
			// 			return false;
			// 		}
					
			// 		if( scrollVal <= 0 && isRevealed ) {
			// 			toggle(0);
			// 		}
			// 		else if( scrollVal > 0 && !isRevealed ){
			// 			toggle(1);
			// 		}
			// 	}

			// 	function toggle( reveal ) {
			// 		isAnimating = true;
					
			// 		if( reveal ) {
			// 			classie.add( container, 'modify' );
			// 		}
			// 		else {
			// 			noscroll = true;
			// 			disable_scroll();
			// 			classie.remove( container, 'modify' );
			// 		}

			// 		// simulating the end of the transition:
			// 		setTimeout( function() {
			// 			isRevealed = !isRevealed;
			// 			isAnimating = false;
			// 			if( reveal ) {
			// 				noscroll = false;
			// 				enable_scroll();
			// 			}
			// 		}, 600 );
			// 	}

			// 	// refreshing the page...
			// 	var pageScroll = scrollY();
			// 	noscroll = pageScroll === 0;
				
			// 	disable_scroll();
				
			// 	if( pageScroll ) {
			// 		isRevealed = true;
			// 		classie.add( container, 'notrans' );
			// 		classie.add( container, 'modify' );
			// 	}
				
			// 	window.addEventListener( 'scroll', scrollPage );
			// 	// trigger.addEventListener( 'click', function() { toggle( 'reveal' ); } );
			// })();

			$(function() {
				var text = $('#article_content').text(),
					dateStr = $('#article_date').text().split(','),
					date = moment(dateStr).format("ddd, MMMM Do YYYY");

				$('.content > div').html(text);
				$('#date').append(date);
				$('.dropdown-toggle').dropdown();

				// dropdown menus
			    $('.dropdown-toggle').click(function(e) {
			        var target = $(this).attr('dropdown-toggle');
			        $('.dropdown-menu').not('#'+target).hide();
			        
			        if ($('#'+target).is(':visible')) {
			            $('#'+target).hide();
			        }
			        else {
			            e.stopPropagation();
			            $('#'+target).show();
			        }
			    });

			    var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
                    showRight = document.getElementById( 'menu-btn' ),
                    closeRight = document.getElementById( 'close-btn' );
                
                showRight.onclick = function() {
                    classie.toggle( this, 'active' );
                    classie.toggle( menuRight, 'cbp-spmenu-open' );
                    // disableOther( 'showRight' );
                };

                closeRight.onclick = function() {
                    // classie.toggle( this, 'active' );
                    classie.toggle( menuRight, 'cbp-spmenu-open' );
                    // disableOther( 'showRight' );
                };

				// $('p.fr-tag').each(function(i) {
				// 	$(this).addClass('commentable-section').attr('data-section-id', i+1);
				// });

				// var SideComments = require('side-comments');
				// window.sideComments = new SideComments('#commentable-container', currentUser, existingComments);
				
				// window.sideComments.on('commentPosted', function( comment ) {
				// 	comment.id = parseInt(Math.random() * (100000 - 1) + 1);
				// 	sideComments.insertComment(comment);
				// });
				
				// window.sideComments.on('commentDeleted', function( comment ) {
				// 	sideComments.removeComment(comment.sectionId, comment.id);
				// });

				// Listen to "commentPosted", and send a request to your backend to save the comment.
				// More about this event in the "docs" section.
				// sideComments.on('commentPosted', function( comment ) {
				//     $.ajax({
				//         url: '/comments',
				//         type: 'POST'
				//         data: comment,
				//         success: function( savedComment ) {
				//             // Once the comment is saved, you can insert the comment into the comment stream with "insertComment(comment)".
				//             sideComments.insertComment(comment);
				//         }
				//     });
				// });
				 
				// // Listen to "commentDeleted" and send a request to your backend to delete the comment.
				// // More about this event in the "docs" section.
				// sideComments.on('commentDeleted', function( commentId ) {
				//     $.ajax({
				//         url: '/comments/' + commentId,
				//         type: 'DELETE',
				//         success: function( success ) {
				//             // Do something.
				//         }
				//     });
				// });
			});
		</script>
	</body>
</html>