{% extends "base_editor.html" %}
{% block content %}

<p id="id" hidden>{{ article.id }}</p>

<nav id="top_nav">
	<div id="back" class="pull-left">
		<a href="{{ url_for('review') }}">
			<span class="icon-arrow-left"></span> back to other articles
		</a>
	</div>

	{% if article.status == 'ready' %}
	<div class="pull-right padder">
		<p class="btn btn-default"style="background-color: #F2F2F2;" data-toggle="tooltip" data-placement="bottom" title="only save the changes you've made" onclick="save();">Save Changes</p>
		<p class="btn btn-default" style="background-color: #F2F2F2;" data-toggle="tooltip" data-placement="bottom" title="this article needs to be proofed again">Have someone review again</p>
		<p class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="this article is ready to be published">Mark as Proofread</p>
	</div>
	{% else %}
	<div class="pull-right padder">
		<p class="btn btn-primary">Submit to be reviewed</p>
	</div>
	{% endif %}
</nav>

<section id="proof_wrapper">

	<div id="error_msg" class="alert error sticky animated fadeInDown" hidden>
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <p class="message"></p>
    </div>

    <div id="success_msg" class="alert alert-info sticky animated fadeInDown" hidden>
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <p class="message">You are now previewing the article in Inline Editing Mode. To edit a field, simply highlight the text and edit it.</p>
    </div>

	<form id="post" action="{{ url_for('submit') }}" accept-charset="UTF-8" method="POST" enctype="multipart/form-data">

		<section id="popouts_wrapper">
			<!-- uploaded media -->
			<div id="pop_uploads" class="popout-left" hidden>
				<header>Uploaded Media</header>

				<div class="popout_content">
					<p class="description" style="color:white;font-size: 0.8em;margin:0;">Copy the code and paste it into the document in the HTML view ( click <code><i class="fa fa-code"></i></code> in the text editor toolbar )</p>
					
				</div>

				<div id="uploads_toggle" class="slide_toggle-left" data-toggle="tooltip" data-placement="right" title="Uploaded Media"></div>
			</div>

			<!-- article settings -->
			<div id="pop_settings" class="popout">
				<header>Article Settings</header>

				<div class="popout_content">
					<p class="label">Category</p>
					<p class="sub-label">the main category this article falls under. Hold <code>Cmd</code> or <code>Ctrl</code> to select all major categories that apply. </p>
					<select multiple class="clear-input-small2" id="category" name="category">
						<option>Politics</option>
						<option>Technology</option>
						<option>Money</option>
						<option>Body + Beauty</option>
						<option>Relationships</option>
						<option>Mind + Spirit</option>
						<option>Sports</option>
						<option>Arts + Fashion</option>
						<option>TV + Music</option>
						<option>Wildcard</option>
					</select>

					<p class="label">Tags</p>
					<input class="clear-input-small2" id="taginput" name="taginput" placeholder="separate, tags, with, commas" style="width:85%;" type="text" value="">

					<span class="doc-icon icon-circle-plus" id="add2list"></span>
					<div id="tags_list" style="display:block;"></div>
				</div>

				<div id="settings_toggle" class="slide_toggle" data-toggle="tooltip" data-placement="left" title="Article Metadata"></div>
			</div>

			<!-- article media -->
			<div id="pop_media" class="popout">
				<header>Media Uploads</header>
				
				<div class="popout_content">
					<p class="description" style="color:white;font-size: 0.8em;margin:0;"><span class="padder icon icon-warning"></span> <span class="label">Note: </span> All media used in your article needs to be uploaded to the web server. When your media has been successfully uploaded, you will be provided with the HTML code to paste into your article.</p>
					<p class="label">Media types for an article</p>
					<ol style="font-weight: 300;font-size: 0.8em;letter-spacing: 0.3px;color:white;">
						<li>Required: Image for header of article</li>
						<li>Required: Image, Gif, or Video for article display on the home page
							<ul>
								<li>featured article- at least 600px wide</li>
								<li>regular article- no larger than 350px wide</li>
								<li>sponsored article- at least 400px wide</li>
								<!-- <li>** please fit the size restrictions or else the image will be distorted and pixelated if it's too small or take a long time to load if it's too large**</li> -->
							</ul>
						</li>
						<li>Optional: Images throughout the article, not including external media</li>

					</ol>

					<p class="label">Upload Feature Image</p>
					<p class="description" style="color:white;font-size: 0.75em;margin:0;">(the image for the article that will be displayed on the front page)</p>
					<ul class="radio_btn clear-input-small3" id="media" placeholder="None" style="line-height: 0px !important;">
						<li>
							<input id="media-0" name="feature-media" type="radio" value="image" checked> 
							<label for="media-0">image/picture/gif</label>
						</li>
						<li class="video" data-toggle="tooltip" data-placement="top" title="video support coming soon!">
							<input id="media-2" name="feature-media" type="radio" value="video" disabled> 
							<label for="media-2">video</label>
						</li>
					</ul>
					<input class="clear-input-small2" id="featureIMG" name="featureIMG" type="file" accept="image/png,image/jpg,image/jpeg,image/gif">
					<p id="upload_btn2" class="btn btn-primary" hidden>Upload</p>
					<div id="progress2" hidden></div>
			        
			        <div class="response" id="success_upload2" style="text-align:center;" hidden><span style="color: #4CDBA5;" class="icon icon-check"></span></div>
			        
			        <div class="response" id="error_upload2" style="text-align:center;" hidden><span style="color: #FA626E;" class="icon icon-cross"></span></div>

					<p class="label">Upload all other media</p>
					<p class="description" style="color:white;font-size: 0.75em;margin:0;">(upload files one at a time)</p>
					<ul class="radio_btn clear-input-small3" id="media" placeholder="None" style="line-height: 0px !important;">
						<li>
							<input id="media-0" name="media" type="radio" value="image" checked> 
							<label for="media-0">image/picture/gif</label>
						</li>
						<li class="video" data-toggle="tooltip" data-placement="top" title="video support coming soon!">
							<input id="media-2" name="media" type="radio" value="video" disabled> 
							<label for="media-2">video</label>
						</li>
					</ul>

					<input class="clear-input-small2" id="allmedia" name="allmedia" type="file" accept="image/png,image/jpg,image/jpeg,image/gif">
					<p id="upload_btn3" class="btn btn-primary" onclick="uploadIMG('allmedia');" hidden >Upload</p>
					<div id="progress3" hidden></div>
			        
			        <div class="response" id="success_upload3" style="text-align:center;" hidden><span style="color: #4CDBA5;" class="icon icon-check"></span></div>
			        
			        <div class="response" id="error_upload3" style="text-align:center;" hidden><span style="color: #FA626E;" class="icon icon-cross"></span></div>
				</div>
				
				<div id="media_toggle" class="slide_toggle" data-toggle="tooltip" data-placement="left" title="Images + Media Upload"></div>
			</div>

			<!-- article release -->
			<div id="pop_review" class="popout">
				<header>Publishing</header>

				<div class="popout_content">
					<p class="label" for="doc-type">Change Article Type</p>
					<ul class="radio_btn clear-input-small2" id="doctype" placeholder="None" style="line-height: 0px !important;">
						<li>
							<input id="doctype-0" name="doctype" type="radio" value="feature"> 
							<label for="doctype-0">feature</label>
						</li>
						<li>
							<input id="doctype-1" name="doctype" type="radio" value="regular"> 
							<label for="doctype-1">regular</label>
						</li>
						<li>
							<input id="doctype-2" name="doctype" type="radio" value="sponsored"> 
							<label for="doctype-2">sponsored</label>
						</li>
					</ul>

					<p class="label" for="doc-release">Change Release Date</p>
					<p id="date" class="sub-label">Current: <span></span></p>
					<input class="clear-input-small2" id="release" name="release" type="date" value="">
				</div>
				
				<div id="review_toggle" class="slide_toggle" data-toggle="tooltip" data-placement="left" title="Publishing"></div>
			</div>
		</section>

		<section id="preview_header" style="text-align: center;">
			<div id="article_category">{{ article.category }}</div>

			{% if article.headerIMG %}
	        <img id="header" src="{{ article.headerIMG }}" alt="{{ article.title }}" width="650" />
	        <div class="clearfix"></div>
	        <p id="change_img" class="btn btn-default">Change Header Image</p>
	        <div id="avi" hidden>
	            <p id="pic_icon">
	                <span class="icon-focus"></span>
	                <img id="avatar_pic" src="" alt="Article Header Image" width="650" style="margin-bottom:15px;" hidden />
	            </p>
	            <input class="form-control" id="headerIMG" name="headerIMG" type="file" style="width:36%;" accept="image/png,image/jpg,image/jpeg">
	    		<p id="upload_btn1" class="btn btn-primary" onclick="uploadIMG('headerIMG')" style="display:none;">Upload Image</p>
	        </div>
	        {% else %}  
			<section id="article-header-img" class="text-center">
				<p class="label2">Article Header Image</p>
	            <p><small>** must be a large, hi-res image (at least 600px wide)</small></p>
		        <p id="pic_icon">
		            <span class="icon-focus"></span>
		            <img id="avatar_pic" src="" alt="Article Header Image" width="650" style="margin-bottom:15px;" hidden />
		        </p>
		        <input class="form-control" id="headerIMG" name="headerIMG" type="file" accept="image/png,image/jpg,image/jpeg">
		        <p id="upload_btn1" class="btn btn-primary" onclick="uploadIMG('headerIMG')" style="display:none;">Upload Image</p>
	        </section>
	        {% endif %}
	    </section>

		<section id="article-data">
			<input class="clear-input-large" id="title" name="title" placeholder="Enter Title Here" type="text" value="{{ article.title }}">

			<textarea class="clear-input-small m-b-sm m-t-sm " name="description" placeholder="This will be displayed on the empire home page. Be brief." style="font-style: italic; height:auto;">{{ article.description }}</textarea>

			<div class="pull-left" style="padding-left:0;">
				<input class="clear-input-med" id="author" name="author" placeholder="Author" type="text" value={{ article.author }} style="width: 30%; font-size: 1.1em;">
				
				{% if article.coAuthor %}
				<input class="clear-input-med" id="co-author" name="co-author" placeholder="username of co-author(s) separated by commas" type="text" style="width: 30%; font-size: 1.1em;" value={{ article.coAuthor }}>
				{% else %}
				<p id="add-author" class="description" style="color:indianred; cursor:pointer;margin:0;"><span class="icon icon-circle-plus" style="padding-right:15px;"></span> Add another author</p>
				<div id="more-authors" hidden>
					<input class="clear-input-med" id="co-author" name="co-author" placeholder="username of co-author(s) separated by commas" type="text" style="width: 30%;">
				</div>
				{% endif %}
			</div>


			<div class="pull-right">
				<div id="releaseDate"> {{ article.releaseDate }} </div>
			</div>

		</section>

		<div class="clearfix"></div>
		<div id="editor" style="margin-top: 30px;"></div>
	</form>

	<div id="text" hidden> {{ article.content }} </div>
	<div id="article_tags" hidden> {{ article.tags }} </div>
	<div id="article_type" hidden> {{ article.doctype }} </div>
</section>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
                <h4>Are you sure you want to delete this?</h4>
                <div>
                    <button type="button" class="btn btn-primary" id="yes" onclick="deletedraft();">Yeah, do it</button>
                    <button type="button" class="btn btn-default" style="background-color: #F2F2F2;" id="no" data-dismiss="modal">No, I changed my mind</button>   
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	$(function() {
		$('.slide_toggle, .btn').tooltip();
		$('#editor').editable({
			inlineMode: true, 
			minHeight: 500,
			placeholder: 'The article\'s content will be displayed here',
			spellcheck: true,
			buttons: ["bold", "italic", "underline", "strikeThrough", "fontSize","fontFamily", "color",'sep',"subscript", "superscript", "formatBlock", "blockStyle", "align", "insertOrderedList", "insertUnorderedList", "outdent", "indent", 'sep', "selectAll", "createLink", "undo", "removeFormat", "redo", "html", "insertHorizontalRule", "table"]
		});

		if (!Modernizr.inputtypes.date) {
		    $('input[type=date]').datepicker({
		        // Consistent format with the HTML5 picker
		        dateFormat: 'yy-mm-dd'
		    });
		}

		var release = $('#releaseDate').text().split(','),
			date = moment(release).format("dddd, MMMM Do YYYY"),
			category = $('#article_category').text(),
			x = category.split(','),
			tags = $('#article_tags').text().split(','),
			doctype = $('#article_type').text();

		$('#editor').editable("setHTML", $('#text').text(), true);
		$('#releaseDate').empty().append(date);
		$('#date.sub-label span').empty().append(date);
		$('#article_category').empty();
		$("input[name=doctype][value=" + doctype + "]").prop('checked', true);

		for (var i = 0; i < x.length; i++) {
			$('#article_category').append('<p class="pull-left">'+x[i].trim()+'</p>');
		}

		for (var i=0; i < tags.length; i++) {
			$('#tags_list').append('<p><span class="icon-circle-cross remove_tag" onclick="$(this).parent().hide();"></span>'+tags[i].trim()+'</p>');
		}

		setTimeout("jQuery('.alert-info').show();", 2000);
		setTimeout("jQuery('.alert-info').hide();", 5500);
	});
</script>
{% endblock %}