<nav id="top_wrapper">
    <p class="pull-left"><img width="50" src="http://media.empire.life/site/images/e-logo.png" /></p>
    <p id="login" class="icon-head pull-right"></p>
    <p id="search" class="icon-search pull-right"></p>
</nav>

<nav class="articles_page cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <h3>
        <span class="icon icon-cross" id="close-btn" style="float: left;color: darkgray;cursor: pointer;line-height: 1.1;"></span>
        <!-- <span style="float:right;">Empire</span> -->
    </h3>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('content.cycle') }}">Current Cycle</a>
    <a style="border-bottom:none;">Categories</a>
    <ul id="cat_list">
        <li><a class="media-body block m-b-none"href="{{ url_for('content.beauty') }}">Beauty</a></li>
        <li><a class="media-body block m-b-none" href="{{ url_for('content.lifestyle') }}">Technology</a></li>
        <li><a class="media-body block m-b-none" href="{{ url_for('content.money') }}">Money</a></li>
        <li><a class="media-body block m-b-none" href="{{ url_for('content.career') }}">Career</a></li>
        <li><a class="media-body block m-b-none" href="{{ url_for('content.entertainment') }}">Entertainment</a></li>
        <li><a class="media-body block m-b-none" href="{{ url_for('content.wildcard') }}">Wildcard</a></li>
    </ul>
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('terms') }}">Terms and Privacy</a>
    <a href="{{ url_for('contact') }}">Contact Us</a>
</nav>

<div class="container">
    <div id="morphsearch" class="morphsearch">
        <form class="morphsearch-form">
            <input class="morphsearch-input" type="search" placeholder="Search..."/>
            <button class="morphsearch-submit" type="submit">Search</button>
        </form>
        
        <div class="morphsearch-content">
            
            <div class="dummy-column">
                <h2>Categories</h2>
                <a class="dummy-media-object" href="{{ url_for('content.beauty') }}">
                    <h3>Beauty</h3>
                </a>
                <a class="dummy-media-object" href="{{ url_for('content.career') }}">
                    <h3>Career</h3>
                </a>
                <a class="dummy-media-object" href="{{ url_for('content.money') }}">
                    <h3>Money</h3>
                </a>
                <a class="dummy-media-object" href="{{ url_for('content.entertainment') }}">
                    <h3>Entertainment</h3>
                </a>
                <a class="dummy-media-object" href="{{ url_for('content.lifestyle') }}">
                    <h3>Lifestyle</h3>
                </a>
                <a class="dummy-media-object" href="{{ url_for('content.wildcard') }}">
                    <h3>Wildcard</h3>
                </a>
            </div>

        </div>
        
        <span class="morphsearch-close"></span>
    </div>

    <div class="overlay"></div>
</div>

