
                {% if i['doctype'] == 'regular' %}
                <!-- regular articles style -->
                <figure class="article effect-winston">
                    <img src="{{ i.featureIMG }}" alt="{{ i.title }}"/>
                    <figcaption>
                        <h2>{{ i.title }}</h2>
                        <p class="drscpt">{{ i.description }}</p>
                        <p class="author">By {{ i.author }}</p>
                        <a href="{{ url_for('read', username=i.author, id=i.objectId, title='-'.join((i.title).lower().split())) }}">View more</a>
                    </figcaption>           
                </figure>
                
                {% elif i['doctype'] == 'feature' %}
                <!-- featured articles style -->

                
                {% elif i['doctype'] == 'sponsored' %}
                <!-- sponsored articles style -->
                <figure class="article effect-lexi">
                    <img src="{{ url_for('static', filename='plugins/hover/img/12.jpg') }}" alt="{{ i.title }}"/>
                    <figcaption>
                        <h2>{{ i.title }}</h2>
                        <p>Each and every friend is special. Lexi won't hide a single cookie.</p>
                        <a href="#">View more</a>
                    </figcaption>           
                </figure>
                {% endif %}
<nav id='navbar_top'>
            <div id="letter"><img src="{{ url_for('static', filename='images/e-logo.png') }}"></div>
            
            <ul id="center_menu">
                
                    <li class="tab"><a href="{{ url_for('index') }}">Home</a></li>
                

                <li class="dropdown">
                    <div class="dropdown-toggle" dropdown-toggle="categories" style="cursor: pointer;">Categories <span class="icon-arrow-down"></span></div>
                    <div class="dropdown-menu w-sm animated fadeInUp" id="categories">
                        <div class="panel bg-white">
                            <div class="list-group">
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('news') }}">Current Events</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('tech') }}">Technology</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('money') }}">Money</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('career') }}">Career</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('mindbody') }}">Mind, Body, and Spirit</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('culture') }}">Culture + Entertainment</a></p>
                                </div>
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none"><a href="{{ url_for('wildcard') }}">Wildcard</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- <a href="">
                    <li class="tab">Filters</li>
                </a> -->

                
                    <li class="tab"><a href="{{ url_for('cycle') }}">Cycle #1</a></li> 
                
            </ul>

            
        </nav>
        <!-- <p class="quotation pull-left">
	        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="70.75px" height="58.25px" viewBox="0 0 70.75 58.25" enable-background="new 0 0 70.75 58.25" xml:space="preserve">
			<path d="M53.324,3c6.444,0,11.672,5.375,11.672,12.008c0,6.632-5.228,12.008-11.672,12.008c-11.668,0-3.891,23.215,11.672,23.215
				v5.601C37.226,55.832,26.342,3,53.324,3L53.324,3z M19.706,3c6.444,0,11.671,5.375,11.671,12.008
				c0,6.632-5.227,12.008-11.671,12.008c-11.668,0-3.891,23.215,11.671,23.215v5.601C3.603,55.832-7.28,3,19.706,3L19.706,3z"/>
			</svg>
        </p> -->
<!-- <p class="quotation pull-right">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="65.834px" height="60.5px" viewBox="0 0 65.834 60.5" enable-background="new 0 0 65.834 60.5" xml:space="preserve">
			<path d="M14.501,3.976C8.167,3.976,3.028,9.26,3.028,15.78c0,6.52,5.139,11.804,11.474,11.804c11.47,0,3.825,22.822-11.474,22.822
				v5.504C30.327,55.911,41.026,3.976,14.501,3.976L14.501,3.976z M47.55,3.976c-6.335,0-11.474,5.285-11.474,11.805
				c0,6.52,5.139,11.804,11.474,11.804c11.47,0,3.824,22.822-11.474,22.822v5.504C63.379,55.911,74.078,3.976,47.55,3.976L47.55,3.976z
				"/>
			</svg>
		</p> -->

		<!-- <div class="col-xs-4">
			<img src="{{ url_for('static', filename='images/frontpage/omeko.jpg') }}" class="img-circle" alt="Amanda" height="200" width="200" />
			<img src="{{ url_for('static', filename='images/frontpage/tay.jpg') }}" class="img-circle" alt="Amanda" height="200" width="200" />
		</div>
		<div class="col-xs-4">
			<img src="" class="img-circle" alt="Amanda" height="200" width="200" />
			<img src="" class="img-circle" alt="Amanda" height="200" width="200" />
		</div> -->

		<section class="text" >
		<header class="section_title">The Team</header>
		
		<div class="box" style="width:700px; margin:0 auto;">
			<div class="row" style="margin: 15px;">
				<div class="col-md-5" style="background:url({{ url_for('static', filename='images/frontpage/becca.jpg') }}) no-repeat; background-size:cover; height: 280px;margin-right: 10px;">
					<!-- <div class="thumbnail"> -->
						<!-- <img src="" width="200" alt="Becca"> -->
						<!-- <div class="caption">
							<h3>Rebecca Abara</h3>
							<p><small>Chief Executive Officer</small></p>
						</div> -->
					<!-- </div> -->
				</div>

				<div class="col-md-5" style="background:url({{ url_for('static', filename='images/frontpage/amanda.jpg') }}) no-repeat; background-size:cover; height: 280px;">
					<!-- <div class="thumbnail"> -->
						<!-- <img src="" width="200" alt="Amanda's profile picture"> -->
						<!-- <div class="caption">
							<h3>Amanda Anumba</h3>
							<p><small>Chief Creative Officer</small></p>
						</div> -->
					</div>
				</div>
			</div>

			<div class="row" style="margin: 15px;">
				<div class="col-md-5" style="background:url({{ url_for('static', filename='images/frontpage/omeko.jpg') }}) no-repeat; background-size:cover; height: 280px;margin-right: 10px;">
					<!-- <div class="thumbnail"> -->
						<!-- <img src="" width="200" alt="Becca"> -->
						<!-- <div class="caption">
							<h3>Rebecca Abara</h3>
							<p><small>Chief Executive Officer</small></p>
						</div> -->
					<!-- </div> -->
				</div>

				<div class="col-md-5" style="background:url({{ url_for('static', filename='images/frontpage/tay.jpg') }}) no-repeat; background-size:cover; height: 280px;">
					<!-- <div class="thumbnail"> -->
						<!-- <img src="" width="200" alt="Becca"> -->
						<!-- <div class="caption">
							<h3>Rebecca Abara</h3>
							<p><small>Chief Executive Officer</small></p>
						</div> -->
					<!-- </div> -->
				</div>
			</div>

		</div>
	</section>

{% macro render_field(field, placeholder=None) %}
            {% if field.errors %}
            <div>
            {% elif field.flags.error %}
            <div>
            {% else %}
            <div>
            {% endif %}
                {% set css_class = 'form-input' + kwargs.pop('class', '') %}
                {{ field(class=css_class, required=true, placeholder=placeholder, **kwargs) }}
            </div>
        {% endmacro %}
	<!-- <li id="search" class="li"><span class="icon-nav icon-search"></span></li> -->
                
                <li id="login" class="dropdown li">
                    <div class="dropdown-toggle" dropdown-toggle="signin">
                        <span class="icon-nav icon-head"></span>
                    </div>
                    <div class="dropdown-menu w-xl animated fadeInUp" id="signin">
                        <!-- login -->
                        <div id='login-form' class="panel bg-white">
                            <div class="panel-heading b-light bg-light">Sign in</div>
                            <div class="panel-body">
                                <form action="{{ url_for('login') }}" method="POST" accept-charset="UTF-8">
                                    {{ render_field(login.username, placeholder="Username") }}
                                    {{ render_field(login.password, placeholder="Password") }}
                                    <p onclick="login();" class='btn' value='Login'>Login</p>
                                </form>
                                <!-- <div class="clearfix divider"></div> -->
                                <section class="additional-info">
                                    <p class="text-right">
                                        <span class='btn-toggle' data-toggle='forgot-form'>Forgot your password?</span>
                                        <span> | </span>
                                        <span class='btn-toggle' data-toggle='register-form'>Sign up</span>
                                    </p>
                                </section>
                            </div>
                        </div>

                        <!-- forgot form -->
                        <div id='forgot-form' class="panel bg-white" hidden>
                            <div class="panel-heading b-light bg-light">Forgot Password</div>
                            <div class="panel-body">
                                <form action="{{ url_for('forgot') }}" method="POST" accept-charset="UTF-8">
                                    <p class="description">Enter your email address below and a link to reset your password will be sent to you</p>
                                    {{ render_field(forgot.email, placeholder="Email Address") }}
                                    <p onclick="forgotPass();" class='btn' value='forgot'>Send Email</p>
                                </form>
                                <section class="additional-info">
                                    <p class="text-right">
                                        <span class='btn-toggle' data-toggle='login-form'>Log in</span>
                                        <span> | </span>
                                        <span class='btn-toggle' data-toggle='register-form'>Sign up</span>
                                    </p>
                                </section>
                            </div>
                        </div>

                        <!-- register form -->
                        <div id='register-form' class="panel bg-white" hidden>
                            <div class="panel-heading b-light bg-light">Register</div>
                            <div class="panel-body">
                                <form action="{{ url_for('register') }}" method="POST" accept-charset="UTF-8">
                                    <input type="text" class="form-input" placeholder="Username" help-text="us_help" id="username" name="username">
                                    <p class="help-block" id="us_help">Must be at least 4 characters long and contain no spaces</p>
                                    
                                    <input type="email" class="form-input" placeholder="Email Address" id="email" name="email">

                                    <input type="password" class="form-input" placeholder="Password" help-text="pw_help" id="password" name="password">
                                    <p class="help-block" id="pw_help">Must be at least 6 characters long and alphanumeric</p>

                                    <input type="password" class="form-input" placeholder="Confirm Password" id="confirm" name="confirm">

                                    <p onclick="register();" class='btn' value='Register'>Sign Up</p>
                                </form>
                                <div class="alert success" style="display:none;">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <span class="icon-thumbsup alert-icon"></span>You have successfully signed up as an admin. Please check your email and follow the link to verify your account.
                                </div>
                                <section class="additional-info">
                                    <p class="text-right">
                                        <!-- <span id="forgot" style="display:none;">Check your email to verify your account</span>
                                        <span> | </span> -->
                                        <span class='btn-toggle' data-toggle='login-form'>Log in</span>
                                    </p>
                                </section>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li id="share" class="dropdown li">
                    <div class="dropdown-toggle" dropdown-toggle="socialmedia">
                        <span class="icon-nav icon-share"></span>
                    </div>
                    <div class="dropdown-menu small-menu w-xxs animated fadeInUp" id="socialmedia">
                        <div class="panel bg-white text-center">
                            <div class="list-group">
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none">
                                        <a href="https://www.facebook.com/InspireRiseReign" target="_blank">
                                            <span class="icon icon-facebook"></span>
                                        </a>
                                    </p>
                                </div>
                               
                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none">
                                        <a href="http://www.instagram.com/thisisempire" target="_blank">
                                            <span class="icon icon-instagram"></span>
                                        </a>
                                    </p>
                                </div>

                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none">
                                        <a href="https://twitter.com/_thisisempire" target="_blank">
                                            <span class="icon icon-twitter"></span>
                                        </a>
                                    </p>
                                </div>

                                <div class="media list-group-item">
                                    <p class="media-body block m-b-none">
                                        <a href="http://thisisempire.tumblr.com" target="_blank">
                                            <span class="icon icon-tumblr"></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

